Repository slurpcode/slurp, pull requests merged in 2018-11, with the labels that each got.

#1 Add overcommit and sitemap and update gems
  .overcommit.yml
  Gemfile
  Gemfile.lock
  _config.yml
Labels: enhancement, good first issue

#2 Add hound config
  .eslintignore
  .hound.yml
Labels: enhancement

#3 Add codebeat badge and update built with links
  README.md
Labels: enhancement

#6 Update README
  README.md
Labels: documentation

#8 README additional link
  README.md
Labels: enhancement

#9 add contributor
  _data/contributors.csv
  assets/images/gophers/sugi.png
Labels: enhancement

#10 Remove white background
  assets/images/gophers/sugi.png
Labels: enhancement

#12 add sugi
  assets/js/eggs.js
Labels: enhancement

#13 Add ABBA
  _data/music.csv
  _includes/head.html
  assets/images/logos/fuchsia-251.png
  assets/images/music/fuchsia-251.png
  assets/js/eggs.js
  gallery.html
Labels: enhancement

#15 Add Above and Beyond logo
  .circleci/config.yml
  .rubocop.yml
  Gemfile.lock
  _data/music.csv
  _includes/head.html
  assets/images/logos/fuchsia-252.png
  assets/images/music/fuchsia-252.png
  gallery.html
Labels: enhancement

#16 Add invaders
  README.md
  _includes/footer.html
  assets/images/beasts/darth.png
  assets/js/eggs.js
  assets/js/spaceinvaders.js
  assets/js/starfield.js
  assets/main.scss
  assets/sounds/bang.wav
  assets/sounds/explosion.wav
  assets/sounds/invaderkilled.wav
  assets/sounds/shoot.wav
Labels: enhancement

#17 Add GTA logo
  _data/games.csv
  _includes/head.html
  assets/images/games/fuchsia-253.png
  assets/images/logos/fuchsia-253.png
  assets/js/eggs.js
  assets/js/spaceinvaders.js
  gallery.html
  games.html
Labels: bug, enhancement

#19 Change colors
  assets/js/spaceinvaders.js
Labels: enhancement
