Repository slurpcode/slurp, pull requests merged in 2019-01, with the labels that each got.

#35 Squashed commit of the following:
  assets/js/eggs.js
Labels: bug

#36 Add Rampage logo
  _data/games.csv
  _includes/head.html
  assets/images/games/fuchsia-259.png
  assets/images/logos/fuchsia-259.png
  gallery.html
Labels: enhancement

#37 added myself as part of fuchsia team
  _data/team.csv
  assets/images/gophers/adem.png
  assets/js/eggs.js
Labels: enhancement

#38 Adem readme opensearch
  README.md
Labels: documentation

#40 Ready Player Preston
  assets/js/eggs.js
Labels: enhancement

#41 Add Golden Axe and Wonder Boy logos
  _data/games.csv
  _includes/head.html
  _posts/2019-01-08-golden-axe.md
  _posts/2019-01-08-wonder-boy.md
  assets/images/games/fuchsia-260.png
  assets/images/games/fuchsia-261.png
  assets/images/logos/fuchsia-260.png
  assets/images/logos/fuchsia-261.png
  gallery.html
Labels: enhancement

#43 Update index.html
  index.html
Labels: enhancement

#44 Animate home page heading
  _posts/2019-01-08-golden-axe.md
  _posts/2019-01-08-wonder-boy.md
  assets/js/index.js
  assets/js/raindrops.js
  assets/main.scss
  flags.html
  index.html
Labels: enhancement

#45 Update main.scss
  assets/main.scss
Labels: bug

#46 Add 10 more flags and 3 more game logos
  _data/flags.csv
  _data/games.csv
  _includes/head.html
  assets/images/flags/Afghanistan.png
  assets/images/flags/Bosnia and Herzegovina.png
  assets/images/flags/Botswana.png
  assets/images/flags/Georgia.png
  assets/images/flags/Laos.png
  assets/images/flags/Mali.png
  assets/images/flags/Senegal.png
  assets/images/flags/Trinidad and Tobago.png
  assets/images/flags/Yemen.png
  assets/images/flags/Zimbabwe.png
  assets/images/games/fuchsia-262.png
  assets/images/games/fuchsia-263.png
  assets/images/games/fuchsia-264.png
  assets/images/logos/fuchsia-262.png
  assets/images/logos/fuchsia-263.png
  assets/images/logos/fuchsia-264.png
  assets/images/logos/fuchsia-265.png
  assets/images/logos/fuchsia-266.png
  assets/images/logos/fuchsia-267.png
  assets/images/logos/fuchsia-268.png
  assets/images/logos/fuchsia-269.png
  assets/images/logos/fuchsia-270.png
  assets/images/logos/fuchsia-271.png
  assets/images/logos/fuchsia-272.png
  assets/images/logos/fuchsia-273.png
  assets/images/logos/fuchsia-274.png
  gallery.html
Labels: enhancement

#47 :+1: Update the bursts
  assets/js/index.js
Labels: enhancement

#48 Finished my task
  Gemfile.lock
  _data/flags.csv
  _includes/head.html
  assets/images/flags/Albania.png
  assets/images/flags/Brunei.png
  assets/images/flags/Burkina Faso.png
  assets/images/flags/Gabon.png
  assets/images/flags/Jamaica.png
  assets/images/flags/Malta.png
  assets/images/flags/Mauritius.png
  assets/images/flags/Mozambique.png
  assets/images/flags/Nambia.png
  assets/images/logos/fuchsia-275.png
  assets/images/logos/fuchsia-276.png
  assets/images/logos/fuchsia-277.png
  assets/images/logos/fuchsia-278.png
  assets/images/logos/fuchsia-279.png
  assets/images/logos/fuchsia-280.png
  assets/images/logos/fuchsia-281.png
  assets/images/logos/fuchsia-282.png
  assets/images/logos/fuchsia-283.png
  gallery.html
Labels: enhancement

#49 Added 20 more flags
  _data/flags.csv
  _includes/head.html
  assets/images/flags/Azerbaijan.png
  assets/images/flags/Belarus.png
  assets/images/flags/Bulgaria.png
  assets/images/flags/Costa Rica.png
  assets/images/flags/Croatia.png
  assets/images/flags/DRCongo.png
  assets/images/flags/Ghana.png
  assets/images/flags/Lebanon.png
  assets/images/flags/Lithuania.png
  assets/images/flags/Luxembourg.png
  assets/images/flags/Macau.png
  assets/images/flags/Myanmar.png
  assets/images/flags/Oman.png
  assets/images/flags/Panama.png
  assets/images/flags/Serbia.png
  assets/images/flags/Slovenia.png
  assets/images/flags/Sudan.png
  assets/images/flags/Tanzania.png
  assets/images/flags/Uruguay.png
  assets/images/flags/Uzbekistan.png
  assets/images/logos/fuchsia-284.png
  assets/images/logos/fuchsia-285.png
  assets/images/logos/fuchsia-286.png
  assets/images/logos/fuchsia-287.png
  assets/images/logos/fuchsia-288.png
  assets/images/logos/fuchsia-289.png
  assets/images/logos/fuchsia-290.png
  assets/images/logos/fuchsia-291.png
  assets/images/logos/fuchsia-292.png
  assets/images/logos/fuchsia-293.png
  assets/images/logos/fuchsia-294.png
  assets/images/logos/fuchsia-295.png
  assets/images/logos/fuchsia-296.png
  assets/images/logos/fuchsia-297.png
  assets/images/logos/fuchsia-298.png
  assets/images/logos/fuchsia-299.png
  assets/images/logos/fuchsia-300.png
  assets/images/logos/fuchsia-301.png
  assets/images/logos/fuchsia-302.png
  assets/images/logos/fuchsia-303.png
  gallery.html
Labels: enhancement

#50 Adem dynamic title
  Gemfile.lock
  _includes/head.html
Labels: enhancement

#53 Added 3 more emojis to each title
  _includes/head.html
Labels: enhancement

#54 Emoji slide show
  _includes/head.html
Labels: enhancement

#55 Please sir I want some more Emoji
  _includes/head.html
Labels: enhancement

#56 Lots of emoji
  _includes/head.html
Labels: enhancement

#57 Update head.html
  _includes/head.html
Labels: bug

#58 Add separate JS file
  _includes/head.html
  assets/js/start.js
Labels: enhancement

#59 Cold weather
  _includes/footer.html
  assets/js/start.js
Labels: enhancement

#60 Refactor
  _includes/footer.html
  assets/js/start.js
  assets/js/weather.js
  assets/main.scss
Labels: enhancement
