Repository slurpcode/slurp, pull requests merged in 2019-04, with the labels that each got.

#68 Add bundler support to renovate
  renovate.json
Labels: enhancement

#69 Try to trigger renovate
  renovate.json
Labels: enhancement

#70 Delete renovate.json
  renovate.json
Labels: bug

#73 Reconfigure Renovate
  renovate.json
Labels: enhancement

#74 Reconfigure Renovate
  renovate.json
Labels: enhancement

#77 Add dependabot badge
  README.md
Labels: enhancement

#78 Add lgtm badge
  .circleci/config.yml
  Gemfile.lock
  README.md
Labels: enhancement

#80 Add percy
  .circleci/config.yml
  Gemfile
  Gemfile.lock
  README.md
Labels: enhancement, size/M

#81 Update README.md
  README.md
Labels: enhancement, size/S

#82 Update README
  README.md
  assets/js/eggs.js
  assets/js/index.js
  assets/js/spaceinvaders.js
Labels: enhancement, size/S

#79 Change URLs to not open in a new tab
  _includes/barnabus/link.html
  _includes/footer.html
  _includes/harley/link.html
  _includes/jorge/link.html
  _includes/karine/link.html
  about.html
  favourites.html
  flags.html
  games.html
  index.html
  movies.html
  music.html
  television.html
Labels: enhancement, good first issue, size/M

#84 Add new Game of thrones animation
  .circleci/config.yml
  _posts/2019-04-11-game-of-thrones.md
  assets/images/gifs/game-of-thrones.gif
Labels: enhancement
