Repository slurpcode/slurp, pull requests merged in 2019-12, with the labels that each got.

#146 Add some YouTube videos and background images.
  assets/images/backgrounds/gunship.jpg
  assets/images/backgrounds/midnight.jpg
  assets/images/backgrounds/timecop.jpg
  assets/js/eggs.js
Labels: easter-egg, enhancement, javascript

#148 Add Natasha and another background image.
  assets/images/backgrounds/jedi.jpg
  assets/js/eggs.js
Labels: easter-egg, enhancement, javascript

#154 Add 512px logo to manifest.
  assets/images/icons/android-icon-512x512.png
  assets/images/icons/manifest.json
Labels: enhancement

#156 Redesign favourites page to fully use a CSV data file.
  _data/favourites.csv
  favourites.html
Labels: csv, enhancement, liquid, size/S

#157 Change gallery page to a grid layout.
  _layouts/default.html
  assets/js/eggs.js
  assets/main.scss
  gallery.html
Labels: css, enhancement, javascript, liquid, size/S

#165 Remove the percy-cli gem. Target Ruby 2.6.0
  .rubocop.yml
  Gemfile
  Gemfile.lock
Labels: dependencies, ruby, size/S

#166 Add Street Fighter effect.
  assets/images/backgrounds/fighter.jpg
  assets/js/eggs.js
Labels: easter-egg, enhancement, javascript

#169 fixed viewport bug on index.html
  assets/images/gifs/anim.gif
  assets/js/index.js
  assets/main.scss
  index.html
Labels: css, enhancement

#174 fixed adem.png size
  assets/images/gophers/adem.png
Labels: enhancement, good first issue

#171 added new gopher to about page and easter eggs
  _data/team.csv
  assets/images/gophers/andrew.png
  assets/js/eggs.js
Labels: csv, enhancement, good first issue, javascript

#175 New games logos
  _data/games.csv
  assets/images/games/fuchsia-307.png
  assets/images/games/fuchsia-308.png
  assets/images/games/fuchsia-309.png
  assets/images/games/fuchsia-310.png
  assets/images/games/fuchsia-311.png
  assets/images/logos/fuchsia-307.png
  assets/images/logos/fuchsia-308.png
  assets/images/logos/fuchsia-309.png
  assets/images/logos/fuchsia-310.png
  assets/images/logos/fuchsia-311.png
  assets/js/start.js
  gallery.html
Labels: csv, enhancement, good first issue, javascript

#185 fixed title
  _data/games.csv
Labels: size/XS

#201 Add CODEOWNERS file
  CODEOWNERS
Labels: enhancement, size/XS

#202 Add web scrapers. Update CODEOWNERS file.
  .circleci/config.yml
  .gitignore
  .rubocop.yml
  CODEOWNERS
  Gemfile
  Gemfile.lock
  config.toml
  scrapers/fql/upwork.fql
  scrapers/go/check-revive.sh
  scrapers/go/colly/codewars.go
  scrapers/go/colly/github.go
  scrapers/go/colly/khan.go
  scrapers/go/colly/upwork.go
  scrapers/go/ferret/upwork.go
  scrapers/php/base/common.php
  scrapers/php/khan.php
  scrapers/python/lxml/khan.py
  scrapers/ruby/nokogiri/khan.rb
  scrapers/shell/brainyquote.sh
  scrapers/shell/fuchsia-logo-downloader.sh
  scrapers/shell/github-max-per-day-awk.sh
  scrapers/shell/github-max-per-day-pcregrep.sh
  scrapers/shell/github-max-per-day-perl.sh
  scrapers/shell/github-max-per-day-ruby.sh
  scrapers/shell/github-max-per-day-sed.sh
  scrapers/shell/random-fuchsia-logo.sh
Labels: size/XL

#208 Update the activesupport gem
  Gemfile
  Gemfile.lock
Labels: dependencies, ruby, security, size/S

#216 Update CODEOWNERS
  CODEOWNERS
Labels: bug, size/XS

#214 Fix CircleCI Percy errors
  .circleci/config.yml
Labels: size/XS, testing

#219 🇦🇺 Add the Australian flag 🇦🇺
  _data/flags.csv
  assets/images/flags/Australia.png
Labels: csv, size/XS

#223 ⌚ Exclude files from Jekyll watch ⌚. Add more linters to Hound. Set the R…
  .erb-lint.yml
  .hound.yml
  .rubocop.yml
  .ruby-version
  README.md
  _config.yml
  lint.sh
  scrapers/shell/brainyquote.sh
  scrapers/shell/fuchsia-logo-downloader.sh
  scrapers/shell/github-max-per-day-awk.sh
  scrapers/shell/github-max-per-day-pcregrep.sh
  scrapers/shell/github-max-per-day-perl.sh
  scrapers/shell/github-max-per-day-ruby.sh
  scrapers/shell/github-max-per-day-sed.sh
  scrapers/shell/random-fuchsia-logo.sh
Labels: documentation, enhancement, ruby, shell, size/M, testing

#224 ℹ️ Add more links to the built with section of the README. ℹ️
  README.md
Labels: documentation, enhancement, size/S

#233 Add DeepSource and Travis CI config files. Fix the Pylint errors.
  .circleci/config.yml
  .deepsource.toml
  .travis.yml
  assets/python/logos.py
  scrapers/python/lxml/khan.py
Labels: enhancement, python, size/M, testing

#235 Add requirements and editorconfig files.
  .editorconfig
  README.md
  requirements.txt
Labels: documentation, enhancement, python, size/S

#236 Add directory to store the main Jekyll pages.
  pages/about.html
  pages/favourites.html
  pages/flags.html
  pages/gallery.html
  pages/games.html
  pages/movies.html
  pages/music.html
  pages/parallel.html
  pages/television.html
Labels: enhancement

#238 Add percy config file.
  .percy.yml
Labels: enhancement, size/XS, testing

#239 Add documentation to the website.
  .hound.yml
  .mdlrc
  Gemfile
  Gemfile.lock
  _config.yml
  _data/docs_nav.yml
  _data/primary_nav.yml
  _docs/database.md
  _docs/go.md
  _docs/index.md
  _docs/links.md
  _docs/ruby.md
  _docs/sql-file.md
  _includes/docs_contents.html
  _includes/header.html
  _includes/primary-nav-items.html
  _layouts/default.html
  _layouts/docs.html
  _posts/2018-09-09-chess.md
  _posts/2018-09-09-lode-runner.md
  _posts/2018-09-09-matrix.md
  _posts/2018-09-09-police-quest.md
  _posts/2018-09-09-space-invaders.md
  _posts/2018-09-09-turing.md
  _posts/2018-09-09-winter.md
  _posts/2018-09-13-frogger.md
  _posts/2018-09-17-star-wars.md
  _posts/2018-09-24-thexder.md
  _posts/2018-10-09-star-wars-alternate-ending.md
  _posts/2018-10-26-street-fighter.md
  _posts/2018-29-30-digger.md
  _posts/2019-04-11-game-of-thrones.md
  assets/main.scss
  scrapers/shell/brainyquote.sh
  scrapers/shell/fuchsia-logo-downloader.sh
  scrapers/shell/github-max-per-day-awk.sh
  scrapers/shell/github-max-per-day-pcregrep.sh
  scrapers/shell/github-max-per-day-perl.sh
  scrapers/shell/github-max-per-day-ruby.sh
  scrapers/shell/github-max-per-day-sed.sh
  scrapers/shell/random-fuchsia-logo.sh
Labels: documentation, enhancement, markdown, size/XXL

#241 Add more documentation.
  _data/docs_nav.yml
  _docs/git.md
  _docs/go.md
  _docs/links.md
  _docs/ruby-cheat-sheets.md
  assets/main.scss
Labels: documentation, enhancement, size/L

#243 Add more documentation.
  _data/docs_nav.yml
  _docs/dita-to-pdf-with-eclipse.md
  _docs/git.md
  _docs/go.md
  _docs/links.md
  _docs/ruby-cheat-sheets.md
  _docs/ruby.md
  _docs/sql-file.md
  _layouts/docs.html
  assets/main.scss
Labels: documentation, enhancement, size/L

#247 Add two more projects. Update gems.
  .rubocop.yml
  Gemfile
  Gemfile.lock
  _data/docs_nav.yml
  _docs/hashcheck.md
  _docs/ruby-strip.md
  source/hashcheck/hashcheck.rb
  source/ruby-strip/ruby-strip.rb
Labels: documentation, enhancement, ruby, size/L

#250 Add more docs
  .mdlrc
  _data/docs_nav.yml
  _docs/eclipse-cheatsheets-to-dita-to-pdf.md
  _docs/eclipse-cheatsheets-to-dita-with-python.md
  assets/main.scss
Labels: documentation, enhancement, size/M

#252 Add custom OGP logos for some docs pages.
  _docs/database.md
  _docs/git.md
  _docs/go.md
  _docs/index.md
  _docs/links.md
  _docs/ruby.md
  _includes/head.html
  assets/images/meta/docs/database.png
  assets/images/meta/docs/docs.png
  assets/images/meta/docs/git.png
  assets/images/meta/docs/go.png
  assets/images/meta/docs/hyperlink.png
  assets/images/meta/docs/ruby.png
Labels: documentation, enhancement

#254 Add five meta ogp logos for some pages and docs pages.
  _config.yml
  _includes/head.html
  assets/images/meta/custom/about/about-1.png
  assets/images/meta/custom/about/about-2.png
  assets/images/meta/custom/about/about-3.png
  assets/images/meta/custom/about/about-4.png
  assets/images/meta/custom/about/about-5.png
  assets/images/meta/custom/database/database-1.png
  assets/images/meta/custom/database/database-2.png
  assets/images/meta/custom/database/database-3.png
  assets/images/meta/custom/database/database-4.png
  assets/images/meta/custom/database/database-5.png
  assets/images/meta/custom/docs/docs-1.png
  assets/images/meta/custom/docs/docs-2.png
  assets/images/meta/custom/docs/docs-3.png
  assets/images/meta/custom/docs/docs-4.png
  assets/images/meta/custom/docs/docs-5.png
  assets/images/meta/custom/flags/flags-1.png
  assets/images/meta/custom/flags/flags-2.png
  assets/images/meta/custom/flags/flags-3.png
  assets/images/meta/custom/flags/flags-4.png
  assets/images/meta/custom/flags/flags-5.png
  assets/images/meta/custom/git/git-1.png
  assets/images/meta/custom/git/git-2.png
  assets/images/meta/custom/git/git-3.png
  assets/images/meta/custom/git/git-4.png
  assets/images/meta/custom/git/git-5.png
  assets/images/meta/custom/go/go-1.png
  assets/images/meta/custom/go/go-2.png
  assets/images/meta/custom/go/go-3.png
  assets/images/meta/custom/go/go-4.png
  assets/images/meta/custom/go/go-5.png
  assets/images/meta/custom/hyperlink/hyperlink-1.png
  assets/images/meta/custom/hyperlink/hyperlink-2.png
  assets/images/meta/custom/hyperlink/hyperlink-3.png
  assets/images/meta/custom/hyperlink/hyperlink-4.png
  assets/images/meta/custom/hyperlink/hyperlink-5.png
  assets/images/meta/custom/ruby/ruby-1.png
  assets/images/meta/custom/ruby/ruby-2.png
  assets/images/meta/custom/ruby/ruby-3.png
  assets/images/meta/custom/ruby/ruby-4.png
  assets/images/meta/custom/ruby/ruby-5.png
  pages/about.html
  pages/flags.html
Labels: enhancement, liquid

#261 🇧🇷 Add 10 new flags 🇧🇷
  _data/flags.csv
  assets/images/flags/Antigua Barbuda.png
  assets/images/flags/Aruba.png
  assets/images/flags/Belize.png
  assets/images/flags/Bhutan.png
  assets/images/flags/Cent Af Rep.png
  assets/images/flags/Gambia.png
  assets/images/flags/Lesotho.png
  assets/images/flags/Seychelles.png
  assets/images/flags/St. Lucia.png
  assets/images/flags/Timore-Leste.png
  assets/images/logos/fuchsia-312.png
  assets/images/logos/fuchsia-313.png
  assets/images/logos/fuchsia-314.png
  assets/images/logos/fuchsia-315.png
  assets/images/logos/fuchsia-316.png
  assets/images/logos/fuchsia-317.png
  assets/images/logos/fuchsia-318.png
  assets/images/logos/fuchsia-319.png
  assets/images/logos/fuchsia-320.png
  assets/images/logos/fuchsia-321.png
  assets/js/start.js
  pages/gallery.html
Labels: enhancement

#268 Add more docs. Update Gems. Add the seek scraper.
  .rubocop.yml
  Gemfile
  Gemfile.lock
  README.md
  _config.yml
  _data/docs_nav.yml
  _docs/database.md
  _docs/dita-to-pdf-with-eclipse.md
  _docs/eclipse-cheatsheets-to-dita-to-pdf.md
  _docs/eclipse-cheatsheets-to-dita-with-python.md
  _docs/git.md
  _docs/go.md
  _docs/hashcheck.md
  _docs/index.md
  _docs/links.md
  _docs/ruby-cheat-sheets.md
  _docs/ruby-strip.md
  _docs/ruby.md
  _docs/seek.md
  _docs/sql-file.md
  assets/images/docs/scrape-jobs.png
  lint.sh
  source/ruby-strip/ruby-strip.rb
  source/seek/jobs/github-and-python-and-php-worktype-all.csv
  source/seek/seek.rb
Labels: documentation, enhancement, ruby

#270 Add more docs.
  _data/docs_nav.yml
  _docs/codewars.md
  _docs/git.md
  _docs/ruby-cheat-sheets.md
  _docs/ruby.md
  assets/images/docs/bruce-lee.png
  assets/images/docs/ruby-is.png
Labels: documentation, enhancement

#264 🎮 Fix row height on the games page 🎮
  assets/main.scss
  pages/games.html
Labels: css, enhancement, size/S

#272 Set Ruby version at 2.6.3. Create root assets directory under the sou…
  .circleci/config.yml
  .rubocop.yml
  .ruby-version
  _data/docs_nav.yml
  _docs/built-in-datatypes.md
  _docs/flicker-diff.md
  _docs/well-formed.md
  source/assets/cheatsheets-xml-test-data/GettingStarted/ConfigLegacyData.xml
  source/assets/cheatsheets-xml-test-data/GettingStarted/CreatePlot.xml
  source/assets/cheatsheets-xml-test-data/GettingStarted/EditingYourData.xml
  source/assets/cheatsheets-xml-test-data/GettingStarted/FindingYourData.xml
  source/assets/cheatsheets-xml-test-data/GettingStarted/FindingYourNetworkData.xml
  source/assets/cheatsheets-xml-test-data/GettingStarted/GenerateProject.xml
  source/assets/cheatsheets-xml-test-data/GettingStarted/ImportingData.xml
  source/assets/cheatsheets-xml-test-data/GettingStarted/OpenPlot.xml
  source/assets/cheatsheets-xml-test-data/GettingStarted/ViewHelpForUI.xml
  source/assets/cheatsheets-xml-test-data/GettingStarted/intro_composite.xml
  source/assets/cheatsheets-xml-test-data/S2R/CombineTargetTracks.xml
  source/assets/cheatsheets-xml-test-data/S2R/GenerateTargetTrack.xml
  source/assets/cheatsheets-xml-test-data/S2R/GroomSensorData.xml
  source/assets/cheatsheets-xml-test-data/S2R/GroomingTracks.xml
  source/assets/cheatsheets-xml-test-data/S2R/UseOfGridEditor.xml
  source/assets/cheatsheets-xml-test-data/S2R/out3.xml
  source/assets/cheatsheets-xml-test-data/S2R/s2r_composite.xml
  source/assets/cheatsheets-xml-test-data/ViewingPlots/FilteringYourData.xml
  source/assets/cheatsheets-xml-test-data/analysis/SettingPrimaryAndSecondaryTracks.xml
  source/assets/cheatsheets-xml-test-data/analysis/TemporalNavigation.xml
  source/assets/cheatsheets-xml-test-data/analysis/TimeVariableAnalysis.xml
  source/assets/cheatsheets-xml-test-data/analysis/analysis_composite.xml
  source/assets/cheatsheets-xml-test-data/narratives/AnalysingNarrativeData.xml
  source/assets/cheatsheets-xml-test-data/satc/multi_legs.xml
  source/assets/cheatsheets-xml-test-data/satc/multi_load.xml
  source/assets/cheatsheets-xml-test-data/satc/multi_view.xml
  source/assets/cheatsheets-xml-test-data/satc/overall_intro.xml
  source/assets/cheatsheets-xml-test-data/satc/satc_composite.xml
  source/assets/cheatsheets-xml-test-data/satc/single_create.xml
  source/assets/cheatsheets-xml-test-data/satc/single_import.xml
  source/assets/cheatsheets-xml-test-data/satc/single_load.xml
  source/assets/cheatsheets-xml-test-data/satc/single_solution.xml
  source/assets/cheatsheets-xml-test-data/sensor/AnalysingSensorData.xml
  source/assets/shiporder.xsd
  source/built-in-datatypes/built_in_datatypes.rb
  source/flicker-diff/flicker-diff.sh
  source/wellformed/wellformed.rb
Labels: documentation, enhancement, ruby, shell

#283 Add more docs. Grid for flags page.
  .circleci/config.yml
  .erb-lint.yml
  .hound.yml
  .overcommit.yml
  .percy.yml
  .rubocop.yml
  .travis.yml
  .yamllint
  _config.yml
  _docs/flicker-diff.md
  _docs/git.md
  lint.sh
  pages/about.html
  pages/favourites.html
  pages/flags.html
  pages/gallery.html
  pages/games.html
  pages/movies.html
  pages/music.html
  pages/parallel.html
  pages/television.html
  requirements.txt
  source/well-formed/well-formed.py
  source/xsl-schema-sort/xsl-schema-sort.xsl
Labels: documentation, enhancement, size/L, testing, xslt / xpath

#289 Add Jekyll avatar gem and new GitHub team page
  Gemfile
  Gemfile.lock
  _config.yml
  _data/github-team.csv
  _data/primary_nav.yml
  assets/main.scss
  pages/team.html
Labels: dependencies, enhancement, ruby, size/M

#291 Fix urls.
  docs/_includes/footer.html
  docs/_includes/head.html
  docs/_includes/header.html
  docs/_includes/icons.html
Labels: bug, size/M

#292 Try fix url
  docs/_config.yml
  docs/_docs/seek.md
Labels: bug, size/XS

#293 Update _config.yml
  docs/_config.yml
Labels: bug, size/XS

#294 Clean up broken links.
  README.md
  docs/_includes/docs_contents.html
  docs/_includes/header.html
  docs/_includes/primary-nav-items.html
Labels: bug, size/M

#297 Add new site url and remove absolute links
  docs/_config.yml
  docs/_includes/docs_contents.html
  docs/_includes/footer.html
  docs/_includes/head.html
  docs/_includes/header.html
  docs/_includes/icons.html
  docs/_includes/primary-nav-items.html
Labels: size/M

#298 Add some Ruby docs.
  .circleci/config.yml
  .rubocop.yml
  .ruby-version
  Gemfile.lock
  commands.sh
  docs/_data/docs_nav.yml
  docs/_docs/ruby-docs.md
  docs/rdoc/Object.html
  docs/rdoc/Parser.html
  docs/rdoc/Parser/ScriptOptions.html
  docs/rdoc/created.rid
  docs/rdoc/css/fonts.css
  docs/rdoc/css/rdoc.css
  docs/rdoc/fonts/Lato-Light.ttf
  docs/rdoc/fonts/Lato-LightItalic.ttf
  docs/rdoc/fonts/Lato-Regular.ttf
  docs/rdoc/fonts/Lato-RegularItalic.ttf
  docs/rdoc/fonts/SourceCodePro-Bold.ttf
  docs/rdoc/fonts/SourceCodePro-Regular.ttf
  docs/rdoc/images/add.png
  docs/rdoc/images/arrow_up.png
  docs/rdoc/images/brick.png
  docs/rdoc/images/brick_link.png
  docs/rdoc/images/bug.png
  docs/rdoc/images/bullet_black.png
  docs/rdoc/images/bullet_toggle_minus.png
  docs/rdoc/images/bullet_toggle_plus.png
  docs/rdoc/images/date.png
  docs/rdoc/images/delete.png
  docs/rdoc/images/find.png
  docs/rdoc/images/loadingAnimation.gif
  docs/rdoc/images/macFFBgHack.png
  docs/rdoc/images/package.png
  docs/rdoc/images/page_green.png
  docs/rdoc/images/page_white_text.png
  docs/rdoc/images/page_white_width.png
  docs/rdoc/images/plugin.png
  docs/rdoc/images/ruby.png
  docs/rdoc/images/tag_blue.png
  docs/rdoc/images/tag_green.png
  docs/rdoc/images/transparent.png
  docs/rdoc/images/wrench.png
  docs/rdoc/images/wrench_orange.png
  docs/rdoc/images/zoom.png
  docs/rdoc/index.html
  docs/rdoc/js/darkfish.js
  docs/rdoc/js/jquery.js
  docs/rdoc/js/navigation.js
  docs/rdoc/js/navigation.js.gz
  docs/rdoc/js/search.js
  docs/rdoc/js/search_index.js
  docs/rdoc/js/search_index.js.gz
  docs/rdoc/js/searcher.js
  docs/rdoc/js/searcher.js.gz
  docs/rdoc/table_of_contents.html
Labels: dependencies, documentation, enhancement, ruby

#303 Add label action
  .github/labeler.yml
  .github/workflows/label.yml
Labels: enhancement, size/M

#309 Add surge and update package.json
  .circleci/config.yml
  govegas/CNAME
  govegas/barney.png
  govegas/index.html
  package-lock.json
  package.json
Labels: dependencies, enhancement, javascript, testing

#311 Configure surge build
  .circleci/config.yml
  govegas/index.html
Labels: enhancement, javascript, size/S, testing, website

#312 Try global install for npm
  .circleci/config.yml
Labels: javascript ⌨️, size/XS ▫️, testing 🧪

#313 Use sudo for npm install -g in the CircleCI config file.
  .circleci/config.yml
  README.md
Labels: documentation 📚, javascript ⌨️, size/XS, testing 🧪

#314 Use full path to surge in the node_modules directory
  .circleci/config.yml
Labels: javascript ⌨️, size/XS, testing 🧪

#315 Clean up CircleCI config file.
  .circleci/config.yml
  .github/labeler.yml
  govegas/index.html
Labels: enhancement ⭐, javascript ⌨️, size/M, testing 🧪, website 🦺, yaml 📃

#320 Clean up CircleCI config file.
  .circleci/config.yml
  .hound.yml
  .reek.yml
  .rubocop.yml
  built-in-datatypes/built_in_datatypes.rb
  docs/_docs/git.md
  govegas/index.html
  hashcheck/hashcheck.rb
  requirements.txt
  ruby-eclipse-cheatsheets-to-dita/ruby-cheatsheets-to-dita.rb
  ruby-strip/ruby-strip.rb
  seek/seek.rb
  well-formed/well_formed.rb
Labels: enhancement ⭐, javascript ⌨️, python 🖥️, ruby 💎, size/S, testing 🧪, yaml 📃

#321 Use JS, Ruby and Python in the same build step
  .circleci/config.yml
Labels: enhancement ⭐, javascript ⌨️, python 🖥️, ruby 💎, size/M, testing 🧪, yaml 📃

#306 🎮 Added new games images and features 🎮
  docs/_data/games.csv
  docs/assets/images/games/fuchsia-322.png
  docs/assets/images/games/fuchsia-323.png
  docs/assets/images/games/fuchsia-324.png
  docs/assets/images/logos/fuchsia-322.png
  docs/assets/images/logos/fuchsia-323.png
  docs/assets/images/logos/fuchsia-324.png
  docs/assets/js/start.js
  docs/pages/gallery.html
  docs/pages/games.html
Labels: website 🦺
