Repository slurpcode/slurp, pull requests merged in 2020-09, with the labels that each got.

#577 Fix Pylint CI step
  .circleci/config.yml
  .travis.yml
  charts/python/charts.py
  well-formed/well-formed.py
Labels: python 🖥️, size/S, testing 🧪

#582 added link descriptions in README.md
  .aspell.en.pws
  README.md
Labels: documentation 📚, markdown 📝, size/L

#589 Revert "fixes #509 - Nav link alignment fixes (#565)"
  docs/_includes/primary-nav-items.html
  docs/_sass/minima/_layout.scss
Labels: bug :bug:, size/M

#590 Clean up root folder.
  .circleci/config.yml
  .github/.markdownlint.yml
  .github/.yamllint
  .github/workflows/lint.yml
Labels: markdown 📝, testing 🧪, yaml 📃

#610 Try with app.json in the root folder.
  app.json
Labels: bug :bug:, help wanted 🙋, heroku 😎

#621 fixed site nav css
  docs/_includes/primary-nav-items.html
  docs/_sass/minima/_layout.scss
Labels: css 🕴️, size/XS
