Repository slurpcode/slurp, pull requests merged in 2020-01, with the labels that each got.

#343 Update _config.yml
  docs/_config.yml
Labels: website 🦺

#350 Update go.mod
  go.mod
Labels: size/XS

#351 Update .all-contributorsrc
  .all-contributorsrc
Labels: size/XS

#354 Create CONTRIBUTING.md
  CONTRIBUTING.md
Labels: size/S

#360 Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: size/XS

#369 Update README.md
  README.md
Labels: size/XS

#373 Update conf.py
  doc/source/conf.py
Labels: size/XS

#381 Add files
  .gitignore
  logorama/.gitignore
  logorama/Gemfile
  logorama/Gemfile.lock
  logorama/README.md
Labels: size/L

#384 Update Renovate Configuration
  .github/labeler.yml
  .rubocop.yml
  built-in-datatypes/built_in_datatypes.rb
  charts/run.rb
  hashcheck/hashcheck.rb
  package.json
  renovate.json
  ruby-eclipse-cheatsheets-to-dita/ruby-cheatsheets-to-dita.rb
  ruby-strip/ruby-strip.rb
  seek/seek.rb
  well-formed/well_formed.rb
Labels: size/M
