Repository slurpcode/slurp, pull requests merged in 2020-10, with the labels that each got.

#602 added new logo (330)
  Gemfile.lock
  docs/_data/music.csv
  docs/assets/images/logos/fuchsia-330.png
  docs/assets/images/music/fuchsia-330.png
  docs/assets/js/start.js
  docs/pages/gallery.html
  docs/pages/music.html
Labels: csv 💾, good first issue 🥇, javascript ⌨️, jekyll 💃, liquid 💧, markdown 📝

#639 Fix duplicate logo storage
  docs/assets/images/tv/fuchsia-304.png
  docs/assets/images/tv/fuchsia-306.png
  docs/assets/images/tv/fuchsia-328.png
  docs/pages/television.html
Labels: good first issue 🥇, liquid 💧

#652 Create python-on-ibm-system-i.md
  doc/source/index.rst
  doc/source/python-on-ibm-system-i.md
Labels: size/M

#663 Add links and badges for both worker sites
  README.md
Labels: documentation 📚, enhancement ⭐, size/XS

#666 🎉 Clean up whitespace in XML and XSL files for the DITA plugin 🎉
  eclipse-cheatsheets-to-dita-to-pdf/cheatsheet-to-dita.xsl
  eclipse-cheatsheets-to-dita-to-pdf/plugins/info.debrief/cfg/common/vars/en.xml
  eclipse-cheatsheets-to-dita-to-pdf/plugins/info.debrief/cfg/fo/attrs/custom.xsl
  eclipse-cheatsheets-to-dita-to-pdf/plugins/info.debrief/cfg/fo/xsl/custom.xsl
Labels: dita 📘, size/XXL, xml 🗃️, xslt / xpath 📄

#672 Work on diff scripts
  .github/workflows/lint.yml
  assets/pdf/flicker-diff-webpage.html
  assets/pdf/flicker/IBM_Systemi_Using_Python_ES/IBM_Systemi_Using_Python_ES-1-difference-flicker.gif
  assets/pdf/flicker/IBM_Systemi_Using_Python_ES/IBM_Systemi_Using_Python_ES-2-difference-flicker.gif
  assets/pdf/flicker/IBM_Systemi_Using_Python_ES/IBM_Systemi_Using_Python_ES-3-difference-flicker.gif
  assets/pdf/new/IBM_Systemi_Using_Python_ES.pdf
  assets/pdf/new/images/IBM_Systemi_Using_Python_ES/IBM_Systemi_Using_Python_ES-1.png
  assets/pdf/new/images/IBM_Systemi_Using_Python_ES/IBM_Systemi_Using_Python_ES-2.png
  assets/pdf/new/images/IBM_Systemi_Using_Python_ES/IBM_Systemi_Using_Python_ES-3.png
  assets/pdf/old/IBM_Systemi_Using_Python_ES.pdf
  assets/pdf/old/images/IBM_Systemi_Using_Python_ES/IBM_Systemi_Using_Python_ES-1.png
  assets/pdf/old/images/IBM_Systemi_Using_Python_ES/IBM_Systemi_Using_Python_ES-2.png
  assets/pdf/old/images/IBM_Systemi_Using_Python_ES/IBM_Systemi_Using_Python_ES-3.png
  doc/source/_static/images/custom-colordiff.png
  doc/source/flicker-diff.md
  flicker-diff/flicker-diff.sh
Labels: documentation 📚, shell 🐚, testing 🧪, yaml 📃

#673 Lint markdown
  .all-contributorsrc
  .markdownlint.yml
  charts/lang/README.de.md
  doc/source/dita-to-pdf-with-eclipse.md
  doc/source/getting-started.md
  doc/source/index.rst
  doc/source/pylint.md
  doc/source/python-on-ibm-system-i.md
  doc/source/ruby.md
  doc/source/seek.md
  doc/source/sql-file.md
  ruby-eclipse-cheatsheets-to-dita/ruby-cheatsheets-to-dita.rb
Labels: documentation 📚, markdown 📝, python 🖥️, size/L
