Repository slurpcode/slurp, pull requests merged in 2020-08, with the labels that each got.

#559 Try worker Preston
  .github/workflows/wrangler-action.yml
  .gitignore
  workers.dev/preston/index.js
  workers.dev/preston/package-lock.json
  workers.dev/preston/package.json
  workers.dev/preston/wrangler.toml
Labels: size/M

#561 Remove Netlify links. Clean up.
  .github/workflows/wrangler-action.yml
  .gitignore
  README.md
  workers.dev/magic/.gitignore
Labels: size/S

#565 fixes #509 - Nav link alignment fixes
  docs/_includes/primary-nav-items.html
  docs/_sass/minima/_layout.scss
Labels: enhancement ⭐, size/M

#567 Add a GitHub action to lint the Markdown and Shell scripts.
  .github/workflows/lint.yml
  .markdownlint.yml
  docs/404.md
  logorama/README.md
Labels: enhancement ⭐, markdown 📝, shell 🐚, size/M, testing 🧪, yaml 📃

#534 Minor clean up to HTML.
  docs/_includes/head.html
  docs/_includes/header.html
  docs/_layouts/default.html
  docs/assets/js/jquery-3.4.1.min.js
  logorama/_layouts/default.html
  package-lock.json
  package.json
Labels: dependencies 🦸, security 🔒, size/S
