Repository slurpcode/slurp, pull requests merged in 2020-05, with the labels that each got.

#459 📺 new tv logo (the big bang theory) 📺
  docs/_data/tv.csv
  docs/assets/images/logos/fuchsia-328.png
  docs/assets/images/tv/fuchsia-328.png
  docs/assets/js/start.js
  docs/pages/gallery.html
Labels: enhancement ⭐, website 🦺

#465 converted rst to markdown
  .aspell.en.pws
  .gitignore
  doc/source/conf.py
  doc/source/index.rst
  doc/source/markup/rst2md.md
  doc/source/markup/xml.md
  doc/source/markup/xml.rst
Labels: size/L

#461 🥚 fix broken christmas easter egg 🥚
  docs/assets/js/eggs.js
Labels: size/XS

#476 Update .rubocop.yml
  .rubocop.yml
Labels: size/XS

#483 Fix dictionary
  .aspell.en.pws
Labels: size/XS

#485 Minor clean up for the Logorama files.
  .gitignore
  logorama/Gemfile
  logorama/Gemfile.lock
  logorama/_includes/head.html
Labels: size/L

#486 Add Netlify status badge for logorama.
  README.md
Labels: enhancement ⭐, size/XS

#489 Fix build with missing word.
  .aspell.en.pws
  README.md
Labels: documentation 📚, enhancement ⭐, size/XS

#491 Add and order README badges.
  README.md
Labels: documentation 📚, enhancement ⭐, size/XS

#493 Update README.md
  README.md
Labels: documentation 📚, enhancement ⭐, size/XS
