Repository slurpcode/slurp, pull requests merged in 2020-12, with the labels that each got.

#703 Fix Rubocop settings
  .aspell.en.pws
  .rubocop.yml
Labels: ruby, size/S, testing 🧪

#705 Update to Ruby 2.7.2
  .circleci/config.yml
  .rubocop.yml
  .ruby-version
  logorama/Gemfile
Labels: dependencies 🦸, ruby 💎, size/XS

#709 Fix logorama deploys by bundle install
  logorama/Gemfile.lock
Labels: dependencies 🦸, ruby 💎, size/XS

#717 test: added words to dictionary
  .aspell.en.pws
Labels: size/XS
