Repository slurpcode/slurp, pull requests merged in 2020-11, with the labels that each got.

#680 Update .aspell.en.pws
  .aspell.en.pws
  .github/workflows/lint.yml
Labels: size/M, testing 🧪, yaml 📃

#684 Fix Rubocop errors
  built-in-datatypes/built_in_datatypes.rb
  charts/run.rb
  hashcheck/hashcheck.rb
  ruby-eclipse-cheatsheets-to-dita/ruby-cheatsheets-to-dita.rb
  ruby-strip/ruby-strip.rb
  seek/seek.rb
  well-formed/well_formed.rb
Labels: good first issue 🥇, ruby, size/M, testing 🧪

#685 Duplicate logos #640
  docs/assets/images/games/fuchsia-117.png
  docs/assets/images/games/fuchsia-137.png
  docs/assets/images/games/fuchsia-138.png
  docs/assets/images/games/fuchsia-139.png
  docs/assets/images/games/fuchsia-140.png
  docs/assets/images/games/fuchsia-142.png
  docs/assets/images/games/fuchsia-143.png
  docs/assets/images/games/fuchsia-144.png
  docs/assets/images/games/fuchsia-163.png
  docs/assets/images/games/fuchsia-164.png
  docs/assets/images/games/fuchsia-165.png
  docs/assets/images/games/fuchsia-186.png
  docs/assets/images/games/fuchsia-187.png
  docs/assets/images/games/fuchsia-188.png
  docs/assets/images/games/fuchsia-189.png
  docs/assets/images/games/fuchsia-190.png
  docs/assets/images/games/fuchsia-211.png
  docs/assets/images/games/fuchsia-223.png
  docs/assets/images/games/fuchsia-224.png
  docs/assets/images/games/fuchsia-225.png
  docs/assets/images/games/fuchsia-236.png
  docs/assets/images/games/fuchsia-237.png
  docs/assets/images/games/fuchsia-253.png
  docs/assets/images/games/fuchsia-254.png
  docs/assets/images/games/fuchsia-255.png
  docs/assets/images/games/fuchsia-256.png
  docs/assets/images/games/fuchsia-257.png
  docs/assets/images/games/fuchsia-258.png
  docs/assets/images/games/fuchsia-259.png
  docs/assets/images/games/fuchsia-260.png
  docs/assets/images/games/fuchsia-261.png
  docs/assets/images/games/fuchsia-262.png
  docs/assets/images/games/fuchsia-263.png
  docs/assets/images/games/fuchsia-264.png
  docs/assets/images/games/fuchsia-305.png
  docs/assets/images/games/fuchsia-307.png
  docs/assets/images/games/fuchsia-308.png
  docs/assets/images/games/fuchsia-309.png
  docs/assets/images/games/fuchsia-310.png
  docs/assets/images/games/fuchsia-311.png
  docs/assets/images/games/fuchsia-322.png
  docs/assets/images/games/fuchsia-323.png
  docs/assets/images/games/fuchsia-324.png
  docs/assets/images/games/fuchsia-325.png
  docs/assets/images/games/fuchsia-326.png
  docs/assets/images/movies/fuchsia-108.png
  docs/assets/images/movies/fuchsia-137.png
  docs/assets/images/movies/fuchsia-248.png
  docs/assets/images/movies/fuchsia-327.png
  docs/assets/images/movies/fuchsia-41.png
  docs/assets/images/movies/fuchsia-42.png
  docs/assets/images/music/fuchsia-249.png
  docs/assets/images/music/fuchsia-250.png
  docs/assets/images/music/fuchsia-251.png
  docs/assets/images/music/fuchsia-252.png
  docs/assets/images/music/fuchsia-330.png
  docs/pages/games.html
  docs/pages/movies.html
  docs/pages/music.html
Labels: enhancement ⭐, good first issue 🥇
