Repository slurpcode/slurp, pull requests merged in 2021-06, with the labels that each got.

#989 readme file edited
  README.md
Labels: size/M

#995 Fix case of arak
  doc/source/_static/images/arak/image1.jpg
  doc/source/_static/images/arak/image2.jpg
  doc/source/_static/images/arak/image3.jpg
  doc/source/_static/images/arak/image4.jpg
  doc/source/_static/images/arak/image5.jpg
Labels: bug :bug:

#994 add-emoji image-fix
  doc/source/arak.md
  doc/source/index.rst
Labels: size/S

#996 Update deps
  .circleci/config.yml
  Gemfile.lock
  logorama/Gemfile
  logorama/Gemfile.lock
  workers.dev/magic/package-lock.json
  workers.dev/magic/package.json
  workers.dev/preston/package-lock.json
  workers.dev/preston/package.json
Labels: dependencies 🦸, size/M

#1015 Add Webdriver
  .pre-commit-config.yaml
  Gemfile
  Gemfile.lock
  drivers/fuchsia.rb
Labels: dependencies 🦸, enhancement ⭐, ruby 💎, size/S, testing 🧪

#1016 Add pre-commit check `trailing-whitespace`
  .pre-commit-config.yaml
  charts/assets/bootstrap/fonts/glyphicons-halflings-regular.svg
  doc/source/dharamshala.md
  docs/assets/games/platformer/Extensions/TextObject/textruntimeobject-pixi-renderer.js
  docs/assets/games/platformer/Extensions/TiledSpriteObject/tiledspriteruntimeobject-pixi-renderer.js
  docs/assets/games/platformer/inputmanager.js
  docs/assets/games/platformer/polygon.js
  docs/assets/js/starfield.js
  eclipse-cheatsheets-to-dita-to-pdf/plugins/info.debrief/cfg/catalog.xml
  eclipse-cheatsheets-to-dita-to-pdf/plugins/info.debrief/cfg/fo/attrs/custom.xsl
  eclipse-cheatsheets-to-dita-to-pdf/plugins/info.debrief/cfg/fo/font-mappings.xml
  eclipse-cheatsheets-to-dita-to-pdf/plugins/info.debrief/plugin.xml
  logorama/_includes/google-analytics.html
Labels: size/M

#1018 Add pre-commit check `end-of-file-fixer`
  .github/workflows/lint.yml
  .pre-commit-config.yaml
  .whitesource
  charts/data/schema/concept.xsd
  charts/data/schema/reference.xsd
  charts/data/schema/task.xsd
  charts/data/schema/topic.xsd
  charts/data/schema/xmldsig_schema.xsd
  charts/python/auto.csv
  charts/site.yml
  doc/source/downton-abbey.md
  doc/source/serif-software.md
  docs/CNAME
  docs/_data/flags.csv
  docs/_data/movies.csv
  docs/_data/music.csv
  docs/_data/tv.csv
  docs/_includes/barnabus/barnabus.html
  docs/_includes/barnabus/link.html
  docs/_includes/default/barnabus.html
  docs/_includes/default/jorge.html
  docs/_includes/google-analytics.html
  docs/_includes/harley/harley.html
  docs/_includes/jorge/jorge.html
  docs/_includes/karine/karine.html
  docs/assets/images/icons/browserconfig.xml
  docs/assets/xsl/common.xsl
  docs/assets/xsl/rss.xsl
  docs/opensearch.xml
  docs/rss.xml
  drivers/fuchsia.rb
  eclipse-cheatsheets-to-dita-to-pdf/output/dita/intro_composite.dita
  eclipse-cheatsheets-to-dita-to-pdf/output/dita/s2r_composite.dita
  eclipse-cheatsheets-to-dita-to-pdf/plugins/info.debrief/cfg/catalog.xml
  eclipse-cheatsheets-to-dita-to-pdf/plugins/info.debrief/integrator.xml
  govegas/index.html
  logorama/404.html
  logorama/_includes/google-analytics.html
  logorama/_posts/2018-09-12-felipe-j.html
  logorama/_posts/2018-09-12-harley-a.html
  logorama/_posts/2018-09-12-karine-i.html
  logorama/feed.xml
  macewindu/Procfile
  macewindu/static/main.css
  macewindu/templates/index.tmpl.html
  ruby-eclipse-cheatsheets-to-dita/output/dita/intro_composite.dita
  ruby-eclipse-cheatsheets-to-dita/output/dita/s2r_composite.dita
  workers.dev/preston/wrangler.toml
Labels: bug :bug:, enhancement ⭐, testing 🧪

#1022 Fix CODEOWNERS
  CODEOWNERS
Labels: size/M

#1026 Add articles and update index
  .gitignore
  doc/source/_static/images/deviation/image1.jpg
  doc/source/_static/images/deviation/image2.jpg
  doc/source/_static/images/deviation/image3.jpeg
  doc/source/_static/images/deviation/image4.jpg
  doc/source/_static/images/errors/image1.png
  doc/source/_static/images/errors/image10.jpg
  doc/source/_static/images/errors/image2.jpg
  doc/source/_static/images/errors/image3.jpg
  doc/source/_static/images/errors/image4.jpg
  doc/source/_static/images/errors/image5.jpg
  doc/source/_static/images/errors/image6.jpg
  doc/source/_static/images/errors/image7.jpg
  doc/source/_static/images/errors/image8.jpg
  doc/source/_static/images/errors/image9.png
  doc/source/_static/images/estimation/image1.jpg
  doc/source/_static/images/estimation/image2.jpg
  doc/source/_static/images/estimation/image3.jpg
  doc/source/_static/images/estimation/image4.jpg
  doc/source/_static/images/estimation/image5.jpg
  doc/source/_static/images/estimation/image6.jpg
  doc/source/ball-aero.md
  doc/source/brisbane.md
  doc/source/common-errors.md
  doc/source/dubai.md
  doc/source/hongkong.md
  doc/source/index.rst
  doc/source/melbourne.md
  doc/source/moscow.md
  doc/source/newcastle.md
  doc/source/paris.md
  doc/source/st-deviation.md
  doc/source/statistical-est.md
Labels: documentation 📚, markdown 📝, website 🦺

#1029 Remove @majidabdulred Codewars said he cheated
  CODEOWNERS
Labels: size/S
