Repository slurpcode/slurp, pull requests merged in 2021-01, with the labels that each got.

#728 Update dependencies
  .editorconfig
  .github/workflows/lint.yml
  Gemfile.lock
  charts/Gemfile.lock
  govegas/index.html
  logorama/Gemfile
  logorama/Gemfile.lock
  package-lock.json
  package.json
  workers.dev/magic/package-lock.json
  workers.dev/preston/package-lock.json
Labels: dependencies 🦸, security 🔒

#731 Update dependencies
  Gemfile
  Gemfile.lock
  logorama/Gemfile
  logorama/Gemfile.lock
  workers.dev/magic/package-lock.json
  workers.dev/magic/package.json
  workers.dev/preston/package-lock.json
  workers.dev/preston/package.json
Labels: dependencies 🦸, security 🔒, size/M

#737 Create codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Labels: enhancement ⭐, size/M

#738 feat(CI): add Rubocop testing for Ruby 2.6 and 2.7
  .github/workflows/lint.yml
  .rubocop.yml
Labels: enhancement ⭐, size/M, testing 🧪

#716 feat: added favicon
  logorama/_includes/head.html
  logorama/assets/images/favicon.ico
Labels: enhancement ⭐

#682 feat(CI): create markdown-link-checker.yml
  .github/workflows/markdown-link-checker.yml
Labels: enhancement ⭐, good first issue 🥇, markdown 📝, size/S, testing 🧪

#743 Go mod tidy
  .github/workflows/markdown-link-checker.yml
  go.mod
  go.sum
Labels: dependencies 🦸, size/XS, testing 🧪

#747 Update Gocolly
  go.mod
  go.sum
  scrapers/go/colly/brainyquote/main.go
  scrapers/go/colly/codewars/main.go
  scrapers/go/colly/github/main.go
  scrapers/go/colly/khan/main.go
  scrapers/go/colly/pycheckio/main.go
  scrapers/go/colly/upwork/main.go
Labels: dependencies 🦸, golang ⏩, size/S
