Repository slurpcode/slurp, pull requests merged in 2021-07, with the labels that each got.

#1033 update emoji
  doc/source/dubai.md
Labels: size/M

#1035 add emoji
  doc/source/hongkong.md
Labels: size/XS

#1039 Update moscow.md
  doc/source/moscow.md
Labels: size/M

#1041 Update newcastle.md
  doc/source/newcastle.md
Labels: size/M

#1043 Update paris.md
  doc/source/paris.md
Labels: size/L

#1045 Update ball-aero.md
  doc/source/ball-aero.md
Labels: size/M

#1047 Update st-deviation.md
  doc/source/st-deviation.md
Labels: size/L

#1049 Update statistical-est.md
  doc/source/statistical-est.md
Labels: size/L

#1050 Update common-errors.md
  doc/source/common-errors.md
Labels: size/L

#1037 add emoji
  doc/source/melbourne.md
Labels: size/M

#1058 Remove Dependabot button and add docs emoji
  .pre-commit-config.yaml
  README.md
  doc/source/brisbane.md
Labels: size/XS

#1060 Add The DJ. Rename docs and change menu order
  doc/source/_static/images/sound/the-dj/the-dj.png
  doc/source/index.rst
  doc/source/standard-deviation.md
  doc/source/statistical-estimation.md
  doc/source/the-dj.md
Labels: documentation 📚

#1075 Restyled/pull 1073
  doc/source/60s.md
  doc/source/_static/images/60s/image1.jpeg
  doc/source/_static/images/60s/image2.jpg
  doc/source/_static/images/amer/image1.jpg
  doc/source/_static/images/amer/image2.jpg
  doc/source/_static/images/captian/image1.jpg
  doc/source/_static/images/captian/image2.jpg
  doc/source/_static/images/captian/image3.png
  doc/source/_static/images/captian/image4.jpg
  doc/source/_static/images/goa/image1.jpg
  doc/source/_static/images/goa/image2.jpg
  doc/source/_static/images/grunge/image1.jpg
  doc/source/_static/images/karama/image1.jpg
  doc/source/_static/images/karama/image2.jpg
  doc/source/_static/images/karama/image3.jpg
  doc/source/_static/images/latrun/image1.jpg
  doc/source/_static/images/latrun/image2.jpg
  doc/source/_static/images/latrun/image3.jpg
  doc/source/_static/images/lsd/image1.jpg
  doc/source/_static/images/lsd/image2.jpg
  doc/source/_static/images/omar/image1.jpg
  doc/source/_static/images/omar/image2.jpg
  doc/source/_static/images/teresa/image1.png
  doc/source/_static/images/teresa/image2.jpg
  doc/source/_static/images/teresa/image3.jpg
  doc/source/_static/images/vietnam/image1.jpg
  doc/source/_static/images/vietnam/image2.jpg
  doc/source/_static/images/wasfi/image1.jpeg
  doc/source/_static/images/wasfi/image2.jpg
  doc/source/_static/images/wasfi/image3.jpg
  doc/source/_static/images/wasfi/image4.jpg
  doc/source/_static/images/wasfi/image5.jpg
  doc/source/al-karama.md
  doc/source/al-latrun.md
  doc/source/amer.md
  doc/source/captian.md
  doc/source/goa.md
  doc/source/grunge.md
  doc/source/index.rst
  doc/source/lsd.md
  doc/source/omar.md
  doc/source/teresa.md
  doc/source/vietnam.md
  doc/source/wasfi.md
Labels: documentation 📚

#1078 Add Article
  doc/source/_static/images/markov/image1.png
  doc/source/_static/images/markov/image2.png
  doc/source/_static/images/markov/image3.png
  doc/source/_static/images/markov/image4.png
  doc/source/_static/images/markov/image5.png
  doc/source/_static/images/markov/image6.png
  doc/source/_static/images/markov/image7.png
  doc/source/_static/images/markov/image8.png
  doc/source/markov-chains.md
Labels: documentation 📚

#1085 Add article
  doc/source/_static/images/long-term/image1.png
  doc/source/_static/images/long-term/image2.png
  doc/source/_static/images/long-term/image3.png
  doc/source/_static/images/long-term/image4.png
  doc/source/_static/images/long-term/image5.png
  doc/source/firebase-best-practices.md
  doc/source/index.rst
  doc/source/long-term-behavior-of-markov.md
Labels: documentation 📚, markdown 📝, website 🦺

#1093 Steve Irwin Soumya upwork
  doc/source/_static/images/steve-irwin/steve-irwin.jpg
  doc/source/index.rst
  doc/source/steve-irwin.md
Labels: size/S

#1098 Fix the `One` README section
  README.md
Labels: size/XS

#1095 Bluite branch
  doc/source/Pattaya.md
  doc/source/_static/images/Pattaya.jpg
  doc/source/index.rst
Labels: size/M

#1105 goa.md: Adding title attr to image
  doc/source/goa.md
Labels: size/XS
