Repository slurpcode/slurp, pull requests merged in 2021-10, with the labels that each got.

#1226 Fix image paths
  doc/source/persian-farsi.md
Labels: size/XS

#1227 Lowercase for file names
  doc/source/_static/images/whiskey/image5.jpg
  doc/source/_static/images/whiskey/image6.jpg
Labels: size/XS

#1228 Pin docutils
  .readthedocs.yaml
  doc/requirements.txt
  requirements.txt
Labels: size/S

#1231 Create trance.md
  doc/source/trance.md
Labels: size/M, hacktoberfest-accepted

#1233 Create trip-hop.md
  doc/source/trip-hop.md
Labels: size/M, hacktoberfest-accepted

#1236 Build PDF for Read the Docs
  .readthedocs.yaml
Labels: size/XS

#1237 Update .readthedocs.yaml
  .readthedocs.yaml
Labels: size/XS

#1235 Add music parent-menu
  doc/source/index.rst
Labels: size/XS, hacktoberfest-accepted
