Repository slurpcode/slurp, pull requests merged in 2021-11, with the labels that each got.

#1242 Add emoji for menu entry in persian-farsi.md
  doc/source/persian-farsi.md
Labels: size/XS

#1243 Add emoji for menu entry in queen-rhapsody.md
  doc/source/queen-rhapsody.md
Labels: size/XS

#1244 Add emoji in menu entry for nu-school-breaks.md
  doc/source/nu-school-breaks.md
Labels: size/XS

#1217 Create Speed_garage.md
  doc/source/Speed_garage.md
Labels: size/M, hacktoberfest-accepted

#1255 Rename Speed_garage.md to speed-garage.md
  doc/source/speed-garage.md
Labels: size/XS

#1257 Add menu entry
  doc/source/index.rst
Labels: size/XS

#1258 Update persian-farsi.md
  doc/source/persian-farsi.md
Labels: size/XS

#1259 Update README.md
  README.md
Labels: size/XS

#1263 Remove duplicate labels
  doc/source/persian-farsi.md
Labels: size/XS

#1264 Add new doc
  doc/source/idm.md
  doc/source/index.rst
Labels: size/M

#1267 Add new doc
  doc/source/index.rst
  doc/source/techno.md
Labels: size/M

#1268 Update colorado.md
  doc/source/colorado.md
Labels: size/XS

#1269 Add new doc
  doc/source/index.rst
  doc/source/nu-jazz.md
Labels: size/M
