Repository slurpcode/slurp, pull requests merged in 2021-05, with the labels that each got.

#936 Update deps and add locations to the docs
  .github/workflows/linter.yml
  .pre-commit-config.yaml
  charts/Gemfile.lock
  doc/source/_static/images/jordan/amman.png
  doc/source/_static/images/jordan/bubble-camps.png
  doc/source/_static/images/jordan/petra.png
  doc/source/_static/images/jordan/pope.png
  doc/source/arizona.md
  doc/source/fermat.md
  doc/source/index.rst
  doc/source/jordan.md
  logorama/Gemfile
  logorama/Gemfile.lock
Labels: dependencies 🦸, documentation 📚

#950 Update deps
  .pre-commit-config.yaml
  Gemfile.lock
  workers.dev/magic/package-lock.json
  workers.dev/magic/package.json
  workers.dev/preston/package-lock.json
  workers.dev/preston/package.json
Labels: size/S

#956 github-max-per-day scrapper script converted to php
  .circleci/config.yml
  scrapers/php/github-max-per-day.php
Labels: size/M

#970 Update deps
  .pre-commit-config.yaml
  Gemfile.lock
  logorama/Gemfile.lock
Labels: size/S

#953 Add Turkey
  doc/source/index.rst
  doc/source/istanbul.md
  doc/source/turkey.md
Labels: size/M

#972 Revert CircleCI Ruby 3
  .circleci/config.yml
Labels: size/XS

#974 Some spelling fixes
  assets/cheatsheets-xml-test-data/GettingStarted/GenerateProject.xml
  assets/cheatsheets-xml-test-data/S2R/CombineTargetTracks.xml
  assets/cheatsheets-xml-test-data/S2R/GroomSensorData.xml
  assets/cheatsheets-xml-test-data/S2R/GroomingTracks.xml
  assets/cheatsheets-xml-test-data/S2R/out3.xml
  assets/cheatsheets-xml-test-data/narratives/AnalysingNarrativeData.xml
  assets/cheatsheets-xml-test-data/satc/satc_composite.xml
  assets/cheatsheets-xml-test-data/satc/single_solution.xml
Labels: size/S

#965 [PHP] khan.php: Improve ident
  scrapers/php/khan.php
Labels: size/S
