Repository slurpcode/slurp, pull requests merged in 2022-06, with the labels that each got.

#1716 My first task: Adding Venice
  doc/source/_static/images/venice/venice1.jpg
  doc/source/_static/images/venice/venice2.jpg
  doc/source/_static/images/venice/venice3.jpg
  doc/source/venice.md
Labels: size/M

#1717 Second task: Buenos Aires
  doc/source/_static/images/buenos-aires/buenos-aires1.jpg
  doc/source/_static/images/buenos-aires/buenos-aires2.jpg
  doc/source/_static/images/buenos-aires/buenos-aires3.jpg
  doc/source/buenos-aires.md
Labels: size/M

#1721 Order docs menu for cities
  doc/source/index.rst
Labels: size/XS

#1722 Fix CodeQL use main branch
  .github/workflows/codeql-analysis.yml
Labels: size/XS

#1727 prettier ignore the all contributors badge
  README.md
Labels: size/XS, code style 💾

#1724 Fix the CircleCI button on the README
  README.md
Labels: size/XS

#1729 Fix Codacy README button
  README.md
Labels: bug :bug:, size/S

#1642 parallel universe
  docs/_data/primary_nav.yml
  docs/pages/parallel.html
Labels: size/S

#1741 Delete lint.sh
  lint.sh
Labels: size/XS

#1742 Delete commands.sh
  commands.sh
Labels: size/XS

#1744 Update the-pawn.md
  doc/source/the-pawn.md
Labels: size/XS

#1751 README dead links - replaced
  .github/workflows/markdown-link-checker.yml
  README.md
  mlc_config.json
Labels: size/S

#1750 no-two-situations-or-events-are-exactly-the-same-in-life-and-in-busin…
  doc/source/_static/images/no-two-situations-or-events-are-exactly-the-same-in-life-and-in-business-so-is-your-64-black-and-white-squares-on-your-chess-board/image1.jpg
  doc/source/_static/images/no-two-situations-or-events-are-exactly-the-same-in-life-and-in-business-so-is-your-64-black-and-white-squares-on-your-chess-board/image2.jpg
  doc/source/_static/images/no-two-situations-or-events-are-exactly-the-same-in-life-and-in-business-so-is-your-64-black-and-white-squares-on-your-chess-board/image3.jpg
  doc/source/index.rst
  doc/source/no-two-situations-or-events-are-exactly-the-same-in-life-and-in-business-so-is-your-64-black-and-white-squares-on-your-chess-board.md
Labels: size/L
