Repository slurpcode/slurp, pull requests merged in 2022-05, with the labels that each got.

#1670 Update copenhagen.md
  doc/source/copenhagen.md
Labels: size/XS

#1668 Bucharest
  doc/source/_static/images/bucharest/image1.jpg
  doc/source/_static/images/bucharest/image2.jpg
  doc/source/_static/images/bucharest/image3.jpg
  doc/source/_static/images/bucharest/image4.jpg
  doc/source/bucharest.md
  doc/source/index.rst
Labels: size/L

#1671 scotland
  doc/source/_static/images/scotland/image1.jpg
  doc/source/_static/images/scotland/image2.jpg
  doc/source/_static/images/scotland/image3.jpg
  doc/source/_static/images/scotland/image4.jpg
  doc/source/index.rst
  doc/source/scotland.md
Labels: size/L

#1673 mexico-city
  doc/source/_static/images/mexico-city/image1.jpg
  doc/source/_static/images/mexico-city/image2.jpg
  doc/source/_static/images/mexico-city/image3.jpg
  doc/source/_static/images/mexico-city/image4.jpg
  doc/source/index.rst
  doc/source/mexico-city.md
Labels: size/L

#1675 Kenya
  doc/source/_static/images/kenya/image1.jpg
  doc/source/_static/images/kenya/image2.jpg
  doc/source/_static/images/kenya/image3.jpg
  doc/source/_static/images/kenya/image4.jpg
  doc/source/_static/images/kenya/image5.jpg
  doc/source/index.rst
  doc/source/kenya.md
Labels: size/L

#1677 india-wins-bid-hosting-chess-olympiad
  doc/source/_static/images/india-wins-bid-hosting-chess-olympiad/image1.jpg
  doc/source/index.rst
  doc/source/india-wins-bid-hosting-chess-olympiad.md
Labels: size/S

#1694 Fix pre-commit `check-xml` hook
  .pre-commit-config.yaml
  charts/data/schema/concept.xsd
  charts/data/schema/reference.xsd
  charts/data/schema/task.xsd
  charts/data/schema/topic.xsd
Labels: size/XL

#1695 Remove `VALIDATE_XML` from Super-Linter. It is now checked with pre-c…
  .github/workflows/super-linter.yml
Labels: size/XS

#1698 Add stamps article and fix the `Makefile`
  .pre-commit-config.yaml
  doc/Makefile
  doc/source/_static/images/stamps/image1.jpg
  doc/source/_static/images/stamps/image10.jpg
  doc/source/_static/images/stamps/image11.jpg
  doc/source/_static/images/stamps/image12.jpg
  doc/source/_static/images/stamps/image13.jpg
  doc/source/_static/images/stamps/image14.jpg
  doc/source/_static/images/stamps/image15.jpg
  doc/source/_static/images/stamps/image16.jpg
  doc/source/_static/images/stamps/image17.jpg
  doc/source/_static/images/stamps/image18.jpg
  doc/source/_static/images/stamps/image2.jpg
  doc/source/_static/images/stamps/image3.jpg
  doc/source/_static/images/stamps/image4.jpg
  doc/source/_static/images/stamps/image5.jpg
  doc/source/_static/images/stamps/image6.jpg
  doc/source/_static/images/stamps/image7.jpg
  doc/source/_static/images/stamps/image8.jpg
  doc/source/_static/images/stamps/image9.jpg
  doc/source/index.rst
  doc/source/stamps.md
Labels: documentation 📚, size/M

#1701 roland-garros.md added
  doc/source/_static/images/roland-garros/image1.jpeg
  doc/source/_static/images/roland-garros/image10.jpg
  doc/source/_static/images/roland-garros/image11.jpg
  doc/source/_static/images/roland-garros/image12.jpg
  doc/source/_static/images/roland-garros/image13.jpg
  doc/source/_static/images/roland-garros/image14.jpg
  doc/source/_static/images/roland-garros/image15.jpg
  doc/source/_static/images/roland-garros/image16.jpg
  doc/source/_static/images/roland-garros/image2.jpg
  doc/source/_static/images/roland-garros/image3.jpg
  doc/source/_static/images/roland-garros/image4.jpg
  doc/source/_static/images/roland-garros/image5.jpg
  doc/source/_static/images/roland-garros/image6.jpg
  doc/source/_static/images/roland-garros/image7.jpg
  doc/source/_static/images/roland-garros/image8.jpg
  doc/source/_static/images/roland-garros/image9.jpg
  doc/source/index.rst
  doc/source/roland-garros.md
Labels: size/XL

#1714 Fix pre-commit tabs
  .pre-commit-config.yaml
Labels: size/XS
