Repository slurpcode/slurp, pull requests merged in 2022-10, with the labels that each got.

#1855 Add Stockholm docs
  doc/source/_static/images/stockholm/drottningholm_palace.png
  doc/source/_static/images/stockholm/gamla_stan.png
  doc/source/_static/images/stockholm/stockholm.png
  doc/source/_static/images/stockholm/subway.png
  doc/source/index.rst
  doc/source/stockholm.md
Labels: good first issue 🥇, documentation 📚, python 🖥️, markdown 📝, size/M, hacktoberfest-accepted, sphinx

#1859 Add Brussels doc
  doc/source/_static/images/brussels/atomium.png
  doc/source/_static/images/brussels/brussels.png
  doc/source/_static/images/brussels/brussels_cinquantenaire_park.png
  doc/source/_static/images/brussels/grand_place.png
  doc/source/_static/images/brussels/the_european_quarter.png
  doc/source/brussels.md
  doc/source/index.rst
Labels: good first issue 🥇, documentation 📚, python 🖥️, markdown 📝, size/M, hacktoberfest-accepted, sphinx

#1848 Saragossa
  doc/source/_static/images/saragossa/aljaferia-palace.jpg
  doc/source/_static/images/saragossa/basilica-of-our-lady-of-the-pillar.jpg
  doc/source/_static/images/saragossa/cathedral-of-the-savior.jpg
  doc/source/_static/images/saragossa/saragossa.jpg
  doc/source/index.rst
  doc/source/saragossa.md
Labels: good first issue 🥇, documentation 📚, python 🖥️, markdown 📝, size/L, hacktoberfest-accepted, sphinx

#1872 Delete .all-contributorsrc
  .all-contributorsrc
Labels: repo 🚧, size/L

#1873 Remove "All Contributors" section
  README.md
Labels: documentation 📚, size/M, repo 🚧

#1876 Update super-linter.yml
  .github/workflows/super-linter.yml
Labels: size/XS, github_actions

#1881 Remove emoji from `misspell` workflow
  .github/workflows/lint.yml
Labels: size/XS, code style 💾, github_actions

#1882 Update brussels.md
  doc/source/brussels.md
Labels: documentation 📚, size/XS

#1875 #1871 - Added Shanghai md file
  doc/source/_static/images/shanghai/shanghai-science-and-technology-museum.jpg
  doc/source/_static/images/shanghai/shanghai.jpg
  doc/source/_static/images/shanghai/the-maglev.jpg
  doc/source/_static/images/shanghai/the-oriental-pearl-tower.jpg
  doc/source/index.rst
  doc/source/shanghai.md
Labels: good first issue 🥇, documentation 📚, python 🖥️, markdown 📝, size/M, hacktoberfest-accepted, sphinx

#1884 Update stockholm.md
  doc/source/stockholm.md
Labels: documentation 📚, size/XS

#1883 Add Qatar #1867
  doc/source/_static/images/qatar/doha-museum.png
  doc/source/_static/images/qatar/katara-cultural-village.png
  doc/source/_static/images/qatar/qatar.png
  doc/source/index.rst
  doc/source/qatar.md
Labels: good first issue 🥇, documentation 📚, python 🖥️, markdown 📝, size/M, hacktoberfest-accepted, sphinx

#1888 Order the Super-Linter checks
  .github/workflows/super-linter.yml
Labels: size/S, code style 💾

#1885 Fix #1870 - Add Rio de Janeiro
  doc/source/_static/images/rio-de-janeiro/christ-the-redeemer.png
  doc/source/_static/images/rio-de-janeiro/ipanema-leblon-beach.png
  doc/source/_static/images/rio-de-janeiro/maracana.png
  doc/source/_static/images/rio-de-janeiro/rio-de-janeiro.png
  doc/source/index.rst
  doc/source/rio-de-janeiro.md
Labels: good first issue 🥇, documentation 📚, python 🖥️, markdown 📝, size/M, hacktoberfest-accepted, sphinx

#1886 Add Jakarta doc
  doc/source/_static/images/jakarta/jakarta.png
  doc/source/_static/images/jakarta/the-great-istiqlal-mosque.png
  doc/source/_static/images/jakarta/the-indonesian-national-monument.png
  doc/source/index.rst
  doc/source/jakarta.md
Labels: good first issue 🥇, documentation 📚, python 🖥️, markdown 📝, size/M, hacktoberfest-accepted, sphinx

#1894 Update rio-de-janeiro.md
  doc/source/rio-de-janeiro.md
Labels: documentation 📚, size/XS

#1890 Added Bucaramanga
  doc/source/_static/images/bucaramanga/bucaramanga.jpg
  doc/source/_static/images/bucaramanga/chicamocha-bucaramanga-national-park.jpg
  doc/source/_static/images/bucaramanga/sagrada-familia-cathedral.jpg
  doc/source/_static/images/bucaramanga/the-hill-of-the-holy.jpg
  doc/source/bucaramanga.md
  doc/source/index.rst
Labels: good first issue 🥇, documentation 📚, python 🖥️, markdown 📝, size/M, hacktoberfest-accepted, sphinx

#1891 Fix #1887 - Add curacao
  doc/source/_static/images/curacao/beaches.png
  doc/source/_static/images/curacao/forts.png
  doc/source/_static/images/curacao/handelskade.png
  doc/source/_static/images/curacao/kenapa-beach.png
  doc/source/_static/images/curacao/marine-aquarium.png
  doc/source/curacao.md
  doc/source/index.rst
Labels: good first issue 🥇, documentation 📚, python 🖥️, markdown 📝, size/M, hacktoberfest-accepted, sphinx

#1902 Update go.mod/go.sum
  macewindu/go.mod
  macewindu/go.sum
Labels: size/XS

#1903 CircleCI: fix go test
  scrapers/go/colly/github/main.go
Labels: testing 🧪, size/XS, go

#1907 Added Aruba #1836
  doc/source/_static/images/aruba/beach.png
  doc/source/_static/images/aruba/diving.png
  doc/source/_static/images/aruba/married.png
  doc/source/_static/images/aruba/oranjestad.png
  doc/source/aruba.md
  doc/source/index.rst
Labels: good first issue 🥇, documentation 📚, python 🖥️, markdown 📝, size/M, hacktoberfest-accepted, sphinx

#1909 Added Heidelberg #1868
  doc/source/_static/images/heidelberg/bridge.png
  doc/source/_static/images/heidelberg/castle.png
  doc/source/_static/images/heidelberg/heidelberg.png
  doc/source/_static/images/heidelberg/oldtown.png
  doc/source/heidelberg.md
  doc/source/index.rst
Labels: good first issue 🥇, documentation 📚, python 🖥️, markdown 📝, size/M, hacktoberfest-accepted, sphinx

#1912 Added Barcelona #1869
  doc/source/_static/images/barcelona/housebattlo.png
  doc/source/_static/images/barcelona/park.png
  doc/source/_static/images/barcelona/sagrada.png
  doc/source/barcelona.md
  doc/source/index.rst
Labels: good first issue 🥇, documentation 📚, python 🖥️, markdown 📝, size/M, hacktoberfest-accepted, sphinx

#1913 Added Costa Rica #1863
  doc/source/_static/images/costa-rica/guanacaste.png
  doc/source/_static/images/costa-rica/national-park.png
  doc/source/_static/images/costa-rica/tortuguero.png
  doc/source/_static/images/costa-rica/volcano.png
  doc/source/costa-rica.md
  doc/source/index.rst
Labels: good first issue 🥇, documentation 📚, python 🖥️, markdown 📝, size/M, hacktoberfest-accepted, sphinx

#1908 Add Warsaw doc
  doc/source/_static/images/warsaw/old-city.jpg
  doc/source/_static/images/warsaw/royal-castle.jpg
  doc/source/_static/images/warsaw/warsaw-royal-route.jpg
  doc/source/_static/images/warsaw/warsaw.jpg
  doc/source/_static/images/warsaw/wilanow-palace.jpg
  doc/source/index.rst
  doc/source/warsaw.md
Labels: good first issue 🥇, documentation 📚, python 🖥️, markdown 📝, size/M, hacktoberfest-accepted, sphinx

#1920 Adding Johannesburg file
  doc/source/_static/images/johannesburg/johannesburg.jpg
  doc/source/_static/images/johannesburg/sandton.jpg
  doc/source/_static/images/johannesburg/soccer-city-stadium.jpg
  doc/source/_static/images/johannesburg/soweto.jpg
  doc/source/index.rst
  doc/source/johannesburg.md
Labels: good first issue 🥇, documentation 📚, python 🖥️, markdown 📝, size/M, hacktoberfest-accepted, hacktoberfest, sphinx

#1921 adding Porto file
  doc/source/_static/images/porto/clerigos-church-and-tower.jpg
  doc/source/_static/images/porto/lello-and-irmao-bookstore.jpg
  doc/source/_static/images/porto/porto.jpg
  doc/source/_static/images/porto/the-porto-cathedral.jpg
  doc/source/index.rst
  doc/source/porto.md
Labels: good first issue 🥇, documentation 📚, python 🖥️, markdown 📝, size/M, hacktoberfest-accepted, hacktoberfest, sphinx

#1922 Adding Gijon file
  doc/source/_static/images/gijon/san-lorenzo-beach.jpg
  doc/source/_static/images/gijon/the-church-of-san-pedro-apostol.jpg
  doc/source/_static/images/gijon/the-labor-of-gijon.jpg
  doc/source/_static/images/gijon/the-port.jpg
  doc/source/gijon.md
  doc/source/index.rst
Labels: good first issue 🥇, documentation 📚, python 🖥️, markdown 📝, size/M, hacktoberfest-accepted, hacktoberfest, sphinx

#1923 Adding Auckland file
  doc/source/_static/images/auckland/auckland-harbor.jpg
  doc/source/_static/images/auckland/auckland.jpg
  doc/source/_static/images/auckland/sky-tower.jpg
  doc/source/_static/images/auckland/winter-garden-botanical-garden.jpg
  doc/source/auckland.md
  doc/source/index.rst
Labels: good first issue 🥇, documentation 📚, python 🖥️, markdown 📝, size/M, hacktoberfest-accepted, hacktoberfest, sphinx

#1897 new-doc-bali
  doc/source/_static/images/bali/gunung-kawi.jpg
  doc/source/_static/images/bali/rice-terraces.jpg
  doc/source/_static/images/bali/temple.jpg
  doc/source/_static/images/bali/ulun-danu-temple.jpg
  doc/source/bali.md
  doc/source/index.rst
Labels: good first issue 🥇, documentation 📚, python 🖥️, markdown 📝, size/M, hacktoberfest-accepted, hacktoberfest, sphinx

#1896 new-doc-florence
  doc/source/_static/images/florence/campanile.jpg
  doc/source/_static/images/florence/cathedral.jpg
  doc/source/_static/images/florence/florence.jpg
  doc/source/_static/images/florence/gallery.jpg
  doc/source/_static/images/florence/palazzo.jpg
  doc/source/florence.md
  doc/source/index.rst
Labels: good first issue 🥇, documentation 📚, python 🖥️, markdown 📝, size/M, hacktoberfest-accepted, hacktoberfest, sphinx

#1930 Renamed Lima
  doc/source/_static/images/lima/huaca-pullcana.jpg
  doc/source/_static/images/lima/lima-city.jpg
  doc/source/_static/images/lima/main-square.jpg
  doc/source/_static/images/lima/miraflores.jpg
  doc/source/index.rst
  doc/source/lima.md
Labels: good first issue 🥇, documentation 📚, python 🖥️, markdown 📝, size/S, hacktoberfest-accepted, sphinx

#1898 new-doc-bogota
  doc/source/_static/images/bogota/bogota-city.jpg
  doc/source/_static/images/bogota/bolivar-square.jpg
  doc/source/_static/images/bogota/candalaria.jpg
  doc/source/_static/images/bogota/funnel-alley.jpg
  doc/source/bogota.md
  doc/source/index.rst
Labels: good first issue 🥇, documentation 📚, python 🖥️, markdown 📝, size/M, hacktoberfest-accepted, hacktoberfest, sphinx

#1899 Doc/san francisco
  Gemfile.lock
  doc/source/_static/images/san-francisco/alcatraz.jpg
  doc/source/_static/images/san-francisco/golden-gate.jpg
  doc/source/_static/images/san-francisco/painted-ladies.jpg
  doc/source/_static/images/san-francisco/san-francisco.jpg
  doc/source/index.rst
  doc/source/san-francisco.md
Labels: good first issue 🥇, python 🖥️, markdown 📝, size/M, hacktoberfest-accepted, hacktoberfest, sphinx

#1942 Add contributors image to the README
  README.md
Labels: size/XS

#1943 Update README.md
  README.md
Labels: size/XS

#1900 pylint added in pre-commit
  .pre-commit-config.yaml
  pylintrc
Labels: testing 🧪, size/L, hacktoberfest-accepted, hacktoberfest
