Repository slurpcode/slurp, pull requests merged in 2022-09, with the labels that each got.

#1831 Go mod update
  go.mod
  go.sum
Labels: dependencies 🦸, size/XS

#1833 Update budapest.md
  doc/source/budapest.md
Labels: size/S

#1837 fix: Moved all images that were associated with a markdown file to own folder. (#1743)
  doc/source/_static/images/chino-valley/Chino_Valley_Logo0.png
  doc/source/_static/images/codewars/bruce-lee.png
  doc/source/_static/images/flicker-diff/custom-colordiff.png
  doc/source/_static/images/ruby/ruby-is.png
  doc/source/_static/images/seek/scrape-jobs.png
  doc/source/_static/images/singing-arc/singing-arc.png
  doc/source/chino-valley.md
  doc/source/codewars.md
  doc/source/flicker-diff.md
  doc/source/ruby.md
  doc/source/seek.md
  doc/source/singing-arc.md
Labels: documentation 📚, size/S, code style 💾

#1840 [1564][hacktoberfest] Standardize the Docs files/folders names
  doc/source/anderson-darling-test.md
  doc/source/audion-piano.md
  doc/source/block-design.md
  doc/source/boris-spassky.md
  doc/source/chess-addiction.md
  doc/source/clavecin-electrique.md
  doc/source/discriminant-analysis.md
  doc/source/effect-of-modern-chess-engines-on-professional-chess-players.md
  doc/source/electromechanical-piano.md
  doc/source/electronic-musical-instrument.md
  doc/source/elo-rating.md
  doc/source/garry-kasparov-a-chess-player.md
  doc/source/graphic-schema-theory.md
  doc/source/harriet-the-movie.md
  doc/source/hugoniot-organ.md
  doc/source/inclusion-of-chess-in-olympics.md
  doc/source/index.rst
  doc/source/jungle-drum-bass.md
  doc/source/keyboard-electric-harmonium.md
  doc/source/life-is-beautiful.md
  doc/source/mikhail-tal.md
  doc/source/multivariate-statistics.md
  doc/source/negative-binomial-distribution.md
  doc/source/nonparametric-tests.md
  doc/source/optophonic-piano.md
  doc/source/parametric-statistics.md
  doc/source/radio-harmonium.md
  doc/source/sampling-methods.md
  doc/source/sound-producing-device.md
  doc/source/synthetic-tone.md
  doc/source/tests-to-see-if-the-data-meet-a-normal-distribution.md
  doc/source/the-fight-club.md
  doc/source/the-luminaphone.md
  doc/source/the-monte-carlo-method.md
  doc/source/the-seventh-seal.md
  doc/source/the-squid-game.md
  doc/source/types-of-probability-distributions.md
Labels: size/M, code style 💾

#1846 montevedio
  doc/source/_static/images/montevideo/image1.jpg
  doc/source/_static/images/montevideo/image2.jpg
  doc/source/_static/images/montevideo/image3.jpg
  doc/source/index.rst
  doc/source/montevideo.md
Labels: documentation 📚, size/L, hacktoberfest-accepted

#1847 vienna
  doc/source/_static/images/vienna/image1.jpg
  doc/source/_static/images/vienna/image2.jpg
  doc/source/_static/images/vienna/image3.jpg
  doc/source/_static/images/vienna/image4.jpg
  doc/source/index.rst
  doc/source/vienna.md
Labels: documentation 📚, size/L, hacktoberfest-accepted

#1849 Fix DeepSource: Python
  well-formed/well-formed.py
Labels: testing 🧪, size/XS

#1852 Fix CircleCI shell test
  .circleci/config.yml
Labels: size/S
