Repository slurpcode/slurp, pull requests merged in 2022-04, with the labels that each got.

#1537 Rubocop fix
  built-in-datatypes/built_in_datatypes.rb
  charts/run.rb
  hashcheck/hashcheck.rb
  ruby-eclipse-cheatsheets-to-dita/ruby-cheatsheets-to-dita.rb
  ruby-strip/ruby-strip.rb
  seek/seek.rb
  well-formed/well_formed.rb
Labels: size/XL

#1547 richard-rapport-wins-the-second-leg-of-grand-prix.md added
  doc/source/_static/images/richard-rapport-wins-the-second-leg-of-grand-prix/richard-rapport-wins-the-second-leg-of-grand-prix.jpeg
  doc/source/index.rst
  doc/source/richard-rapport-wins-the-second-leg-of-grand-prix.md
Labels: size/S

#1555 Upgrade minimist #1509
  package-lock.json
Labels: size/XS

#1559 Fix `pre-commit` markdownlint to run our config
  .pre-commit-config.yaml
Labels: size/XS

#1546 rupocop-superlinter-fix
  .github/workflows/super-linter.yml
  .rubocop.yml
  Gemfile
  built-in-datatypes/built_in_datatypes.rb
  charts/Gemfile
  charts/run.rb
  drivers/fuchsia.rb
  hashcheck/hashcheck.rb
  logorama/Gemfile
  logorama/Rakefile
  pdfstar/Gemfile
  ruby-eclipse-cheatsheets-to-dita/ruby-cheatsheets-to-dita.rb
  ruby-strip/ruby-strip.rb
  scrapers/ruby/nokogiri/khan.rb
  seek/seek.rb
  well-formed/well_formed.rb
Labels: size/XL

#1473 Run pylint issue
  doc/source/block_design.md
  doc/source/electro.md
  doc/source/point-estimation-methods.md
  doc/source/sampling_methods.md
  doc/source/telharmonium.md
  doc/source/the-dj.md
  docs/assets/python/logos.py
  scrapers/python/selenium/khan.py
Labels: python 🖥️, testing 🧪, markdown 📝, size/M, ruby, code style 💾

#1569 Circle-ci build time regression
  .circleci/config.yml
Labels: size/XS

#1570 Markdown Lint Fix
  doc/source/correlation.md
  doc/source/hikaru.md
  doc/source/multivariate_statistics.md
Labels: size/M

#1572 Ruby based markdown lint fix
  doc/source/block_design.md
  doc/source/parametric_statistics.md
Labels: size/S

#1576 Fix Ruby `Selenium::WebDriver` link
  drivers/fuchsia.rb
Labels: bug :bug:, testing 🧪, size/XS, ruby

#1575 Legacy Convenience Image Deprecation #1561
  .circleci/config.yml
Labels: size/S

#1588 rubocop new version offense fix
  built-in-datatypes/built_in_datatypes.rb
  hashcheck/hashcheck.rb
  ruby-eclipse-cheatsheets-to-dita/ruby-cheatsheets-to-dita.rb
  ruby-strip/ruby-strip.rb
  seek/seek.rb
  well-formed/well_formed.rb
Labels: size/S

#1584 Circle CI CSV Lint Fix
  .circleci/config.yml
Labels: size/XS

#1607 Roll back to Ruby 2.7.5
  .circleci/config.yml
  .ruby-version
Labels: size/S

#1597 Circle CI rubocop offense fix
  .rubocop.yml
  built-in-datatypes/built_in_datatypes.rb
  hashcheck/hashcheck.rb
  ruby-eclipse-cheatsheets-to-dita/ruby-cheatsheets-to-dita.rb
  ruby-strip/ruby-strip.rb
  seek/seek.rb
  well-formed/well_formed.rb
Labels: size/S

#1615 Update .eslintignore
  .eslintignore
Labels: size/XS

#1610 marked executable but has no (or invalid) shebang! fix
  .circleci/config.yml
  .github/workflows/super-linter.yml
  .pre-commit-config.yaml
  .rubocop.yml
  doc/source/dubstep.md
  doc/source/electro.md
  doc/source/index.rst
  docs/assets/js/anime.min.js
  docs/assets/js/snowstorm-min.js
  eclipse-cheatsheets-to-dita-to-pdf/output/map.ditamap
  rubycritic/assets/fonts/fontawesome-webfont.svg
  rubycritic/assets/fonts/glyphicons-halflings-regular.svg
  rubycritic/assets/javascripts/bootstrap.min.js
  rubycritic/assets/javascripts/jquery.filtertable.min.js
  rubycritic/assets/javascripts/jquery.min.js
  rubycritic/assets/stylesheets/application.css
  rubycritic/assets/stylesheets/bootstrap.min.css
  rubycritic/assets/stylesheets/font-awesome.min.css
Labels: size/XS

#1628 Test CircleCI percy snapshot error fix
  .circleci/config.yml
Labels: size/XS

#1629 Issue: #780 Fix 'scrapers/python/scrapy/github/spider.py'. It scrapes 5 stats from github
  .gitignore
  scrapers/python/scrapy/github/spider.py
Labels: size/M

#1638 `gofmt -w .` Go code uses tabs
  .pre-commit-config.yaml
  doc/Makefile
  macewindu/main.go
  pdfstar/main.go
  scrapers/go/colly/brainyquote/main.go
  scrapers/go/colly/codewars/main.go
  scrapers/go/colly/github/main.go
  scrapers/go/colly/github/main_test.go
  scrapers/go/colly/khan/main.go
  scrapers/go/colly/pycheckio/main.go
  scrapers/go/colly/upwork/main.go
Labels: size/XL

#1643 Fix link checker
  .github/workflows/markdown-link-checker.yml
Labels: bug :bug:, size/XS

#1652 Fix `gocolly` GitHub scraper and test
  .circleci/config.yml
  scrapers/go/colly/github/main.go
  scrapers/go/colly/github/main_test.go
Labels: size/S
