Repository slurpcode/slurp, pull requests merged in 2022-03, with the labels that each got.

#1485 adding 4 files
  doc/source/_static/images/keyboard_electric_harmonium/keyboard_electric_harmonium1.png
  doc/source/_static/images/keyboard_electric_harmonium/keyboard_electric_harmonium2.jpg
  doc/source/_static/images/keyboard_electric_harmonium/keyboard_electric_harmonium3.jpg
  doc/source/_static/images/pianorad/pianorad.jpg
  doc/source/_static/images/pianorad/pianorad1.jpg
  doc/source/_static/images/radio_harmonium/sir_john.png
  doc/source/_static/images/the_luminaphone/the_luminaphone.jpg
  doc/source/_static/images/the_luminaphone/the_luminaphone_diagram.jpg
  doc/source/index.rst
  doc/source/keyboard_electric_harmonium.md
  doc/source/pianorad.md
  doc/source/radio_harmonium.md
  doc/source/the_luminaphone.md
Labels: size/L

#1500 Fix CODEOWNERS
  .github/workflows/super-linter.yml
  CODEOWNERS
Labels: bug :bug:, size/S

#1501 Update Go libs
  go.mod
  go.sum
Labels: size/XS

#1433 Go colly error handling #1327
  scrapers/go/colly/brainyquote/main.go
  scrapers/go/colly/codewars/main.go
  scrapers/go/colly/github/main.go
  scrapers/go/colly/khan/main.go
  scrapers/go/colly/pycheckio/main.go
  scrapers/go/colly/upwork/main.go
Labels: size/M

#1493 adding 3 files
  doc/source/_static/images/chess_addiction/chess.jpg
  doc/source/_static/images/the_monte_carlo_method/dentist.jpg
  doc/source/_static/images/the_monte_carlo_method/dice.jpg
  doc/source/_static/images/the_monte_carlo_method/formula_1.PNG
  doc/source/_static/images/the_monte_carlo_method/formula_2.PNG
  doc/source/_static/images/the_monte_carlo_method/formula_3.PNG
  doc/source/_static/images/the_monte_carlo_method/formula_4.PNG
  doc/source/_static/images/the_monte_carlo_method/graph_1.jpg
  doc/source/_static/images/the_monte_carlo_method/graph_10.jpg
  doc/source/_static/images/the_monte_carlo_method/graph_11.jpg
  doc/source/_static/images/the_monte_carlo_method/graph_12.jpg
  doc/source/_static/images/the_monte_carlo_method/graph_13.jpg
  doc/source/_static/images/the_monte_carlo_method/graph_14.jpg
  doc/source/_static/images/the_monte_carlo_method/graph_2.png
  doc/source/_static/images/the_monte_carlo_method/graph_3.jpg
  doc/source/_static/images/the_monte_carlo_method/graph_4.jpg
  doc/source/_static/images/the_monte_carlo_method/graph_5.jpg
  doc/source/_static/images/the_monte_carlo_method/graph_6.jpg
  doc/source/_static/images/the_monte_carlo_method/graph_7.jpg
  doc/source/_static/images/the_monte_carlo_method/graph_8.jpg
  doc/source/_static/images/the_monte_carlo_method/graph_9.jpg
  doc/source/chess_addiction.md
  doc/source/graphic_schema_theory.md
  doc/source/index.rst
  doc/source/the_monte_carlo_method.md
Labels: size/L

#1513 Update `.eslintignore`
  .eslintignore
Labels: javascript ⌨️

#1514 npm update
  package-lock.json
Labels: size/XS

#1515 Run pre-commit
  doc/source/chess_addiction.md
  doc/source/graphic_schema_theory.md
  doc/source/the_monte_carlo_method.md
Labels: size/S

#1517 Fix some post GIF links
  docs/_config.yml
  docs/_posts/2018-09-17-star-wars.md
  docs/_posts/2018-09-24-thexder.md
  docs/_posts/2018-10-09-star-wars-alternate-ending.md
  docs/_posts/2018-10-26-street-fighter.md
  docs/_posts/2018-29-30-digger.md
  docs/_posts/2019-04-11-game-of-thrones.md
Labels: bug :bug:, size/S

#1518 Fix image paths on Pages site
  docs/pages/games.html
  docs/pages/movies.html
  docs/pages/music.html
  docs/pages/television.html
Labels: bug :bug:, size/XS

#1519 Fix post GIF links on Pages site
  docs/_posts/2018-09-09-chess.md
  docs/_posts/2018-09-09-lode-runner.md
  docs/_posts/2018-09-09-matrix.md
  docs/_posts/2018-09-09-police-quest.md
  docs/_posts/2018-09-09-space-invaders.md
  docs/_posts/2018-09-09-turing.md
  docs/_posts/2018-09-09-winter.md
  docs/_posts/2018-09-13-frogger.md
Labels: bug :bug:, size/S

#1520 Fix build button for GitHub Pages on README
  README.md
Labels: bug :bug:, size/XS

#1522 Fix menu order on docs site
  doc/source/index.rst
Labels: documentation 📚, size/XS

#1524 Update CODEOWNERS
  CODEOWNERS
Labels: size/S, repo 🚧

#1490 Fib branch
  doc/source/fibonacci.md
Labels: good first issue 🥇, documentation 📚, markdown 📝, size/L
