Repository slurpcode/slurp, pull requests merged in 2022-02, with the labels that each got.

#1407 tests_to_see_if_the_data_meet_a_normal_distribution added
  doc/source/_static/images/tests_to_see_if_the_data_meet_a_normal_distribution/image1.jpeg
  doc/source/_static/images/tests_to_see_if_the_data_meet_a_normal_distribution/image2.jpeg
  doc/source/_static/images/tests_to_see_if_the_data_meet_a_normal_distribution/image3.jpeg
  doc/source/_static/images/tests_to_see_if_the_data_meet_a_normal_distribution/image4.jpeg
  doc/source/_static/images/tests_to_see_if_the_data_meet_a_normal_distribution/image5.jpeg
  doc/source/_static/images/tests_to_see_if_the_data_meet_a_normal_distribution/image6.jpeg
  doc/source/index.rst
  doc/source/tests_to_see_if_the_data_meet_a_normal_distribution.md
Labels: size/XL

#1402 Chess and point estimation
  doc/source/_static/images/chess-and-mathematics/chess1.jpg
  doc/source/_static/images/chess-and-mathematics/chess10.jpg
  doc/source/_static/images/chess-and-mathematics/chess11.jpg
  doc/source/_static/images/chess-and-mathematics/chess12.jpg
  doc/source/_static/images/chess-and-mathematics/chess13.jpg
  doc/source/_static/images/chess-and-mathematics/chess14.jpg
  doc/source/_static/images/chess-and-mathematics/chess15.jpg
  doc/source/_static/images/chess-and-mathematics/chess16.jpg
  doc/source/_static/images/chess-and-mathematics/chess17.jpg
  doc/source/_static/images/chess-and-mathematics/chess18l.jpg
  doc/source/_static/images/chess-and-mathematics/chess18r.jpg
  doc/source/_static/images/chess-and-mathematics/chess19l.jpg
  doc/source/_static/images/chess-and-mathematics/chess19r.jpg
  doc/source/_static/images/chess-and-mathematics/chess2.jpg
  doc/source/_static/images/chess-and-mathematics/chess20.jpg
  doc/source/_static/images/chess-and-mathematics/chess21.jpg
  doc/source/_static/images/chess-and-mathematics/chess3.jpg
  doc/source/_static/images/chess-and-mathematics/chess4.jpg
  doc/source/_static/images/chess-and-mathematics/chess5.jpg
  doc/source/_static/images/chess-and-mathematics/chess6.jpg
  doc/source/_static/images/chess-and-mathematics/chess7.jpg
  doc/source/_static/images/chess-and-mathematics/chess8.jpg
  doc/source/_static/images/chess-and-mathematics/chess9.jpg
  doc/source/_static/images/chess-and-mathematics/math1.jpg
  doc/source/_static/images/chess-and-mathematics/math2.jpg
  doc/source/_static/images/point-estimation-methods/image1.jpg
  doc/source/_static/images/point-estimation-methods/image2.jpg
  doc/source/_static/images/point-estimation-methods/image3.jpg
  doc/source/_static/images/point-estimation-methods/image4.jpg
  doc/source/chess-and-mathematics.md
  doc/source/index.rst
  doc/source/point-estimation-methods.md
Labels: size/XL

#1411 fide-grand-prix-2022 added
  doc/source/_static/images/fide-grand-prix-2022/fide-grand-prix-2022.jpeg
  doc/source/fide-grand-prix-2022.md
  doc/source/index.rst
Labels: size/L

#1413 Khan Academy => Get Energy Points => Using Selenium.
  doc/source/dubstep.md
  doc/source/electro.md
  doc/source/mikhail_tal.md
  doc/source/telharmonium.md
  doc/source/tests_to_see_if_the_data_meet_a_normal_distribution.md
  requirements.txt
  scrapers/python/lxml/khan.py
Labels: size/L

#1428 Resolved Error return value of `c.Limit` is not checked (errcheck) - golangci-lint run
  scrapers/go/colly/brainyquote/main.go
  scrapers/go/colly/codewars/main.go
  scrapers/go/colly/github/main.go
  scrapers/go/colly/khan/main.go
  scrapers/go/colly/pycheckio/main.go
  scrapers/go/colly/upwork/main.go
Labels: size/S

#1419 dependabot-update
  .github/dependabot.yml
Labels: size/S

#1296 Fix links
  docs/404.md
  docs/_config.yml
  docs/_includes/footer.html
  docs/_includes/head.html
  docs/_includes/header.html
  docs/_includes/icons.html
  docs/_includes/primary-nav-items.html
  docs/_layouts/default.html
  docs/_posts/2018-09-09-chess.md
  docs/_posts/2018-09-09-lode-runner.md
  docs/_posts/2018-09-09-matrix.md
  docs/_posts/2018-09-09-police-quest.md
  docs/_posts/2018-09-09-space-invaders.md
  docs/_posts/2018-09-09-turing.md
  docs/_posts/2018-09-09-winter.md
  docs/_posts/2018-09-13-frogger.md
  docs/_posts/2018-09-17-star-wars.md
  docs/_posts/2018-09-24-thexder.md
  docs/_posts/2018-10-09-star-wars-alternate-ending.md
  docs/_posts/2018-10-26-street-fighter.md
  docs/_posts/2018-29-30-digger.md
  docs/_posts/2019-04-11-game-of-thrones.md
  docs/assets/images/icons/manifest.json
  docs/assets/js/eggs.js
  docs/index.html
  docs/pages/about.html
  docs/pages/favourites.html
  docs/pages/games.html
  docs/pages/movies.html
  docs/pages/music.html
  docs/pages/television.html
  docs/rss.xml
  logorama/_includes/head.html
Labels: size/L

#1431 Remove duplicate checks from GitHub Actions
  .github/workflows/lint.yml
Labels: size/S

#1446 Adds 'The Fight Club' article in md format
  doc/source/_static/images/the_fight_club/the_fight_club.png
  doc/source/index.rst
  doc/source/the_fight_club.md
Labels: size/M

#1448 Fix typo in spaceinvaders.js
  docs/assets/js/spaceinvaders.js
Labels: size/XS

#1452 Resolved Three dead links #798
  charts/INSTALL.md
Labels: size/XS

#1455 Inclusion of Chess in Olympics added
  doc/source/_static/images/inclusion_of_chess_in_olympics/image1.jpg
  doc/source/inclusion_of_chess_in_olympics.md
  doc/source/index.rst
Labels: size/M

#1457 Inclusion of chess in olympics
  doc/source/inclusion_of_chess_in_olympics.md
Labels: size/XS

#1444 6 files uploaded
  doc/source/_static/images/electrophon/electrophon.png
  doc/source/_static/images/hugoniot_organ/hugoniot_organ.png
  doc/source/_static/images/optophonic_piano/painted.jpg
  doc/source/_static/images/optophonic_piano/rossine.jpg
  doc/source/_static/images/staccatone/staccatone.png
  doc/source/_static/images/synthetic_tone/synthetic.png
  doc/source/_static/images/theremin/theremin.png
  doc/source/continuous-probability-distribution.md
  doc/source/electrophon.md
  doc/source/hugoniot_organ.md
  doc/source/index.rst
  doc/source/optophonic_piano.md
  doc/source/staccatone.md
  doc/source/synthetic_tone.md
  doc/source/theremin.md
Labels: size/L

#1420 issue with scipy installation.
  .circleci/config.yml
Labels: size/XS

#1476 Delete image6.JPG
  doc/source/_static/images/whiskey/image6.JPG
Labels: size/XS

#1475 Delete image5.JPG
  doc/source/_static/images/whiskey/image5.JPG
Labels: size/XS

#1467 6 files added
  doc/source/_static/images/audion_piano/audion_piano1.png
  doc/source/_static/images/audion_piano/audion_piano2.jpg
  doc/source/_static/images/choralcelo/choralcelo.png
  doc/source/_static/images/choralcelo/choralcelo1.jpg
  doc/source/_static/images/clavecin_electrique/clavecin_electrique1.jpg
  doc/source/_static/images/clavecin_electrique/clavecin_electrique2.jpg
  doc/source/_static/images/electronic_musical_instrument/electronic_musical_instrument.png
  doc/source/_static/images/sound_producing_device/sound_producing_device.png
  doc/source/_static/images/spharophon/spharophon.png
  doc/source/audion_piano.md
  doc/source/choralcelo.md
  doc/source/clavecin_electrique.md
  doc/source/electronic_musical_instrument.md
  doc/source/index.rst
  doc/source/sound_producing_device.md
  doc/source/spharophon.md
Labels: size/L
