Repository slurpcode/slurp, pull requests merged in 2022-01, with the labels that each got.

#1211 last update of progressive and determination coefficient
  .gitignore
  doc/source/Determination_coefficient.md
  doc/source/_static/images/determination_coefficient/10_formula.png
  doc/source/_static/images/determination_coefficient/11_formula.png
  doc/source/_static/images/determination_coefficient/12_formula.png
  doc/source/_static/images/determination_coefficient/13_formula.png
  doc/source/_static/images/determination_coefficient/6_formula.png
  doc/source/_static/images/determination_coefficient/7_formula.png
  doc/source/_static/images/determination_coefficient/8_formula.png
  doc/source/_static/images/determination_coefficient/9_formula.png
  doc/source/_static/images/determination_coefficient/chol.jpg
  doc/source/_static/images/determination_coefficient/circle.jpg
  doc/source/_static/images/determination_coefficient/fifth_formula.png
  doc/source/_static/images/determination_coefficient/first_formula.png
  doc/source/_static/images/determination_coefficient/forth_formula.png
  doc/source/_static/images/determination_coefficient/girl.jpg
  doc/source/_static/images/determination_coefficient/money.jpg
  doc/source/_static/images/determination_coefficient/player.jpg
  doc/source/_static/images/determination_coefficient/second_formula.png
  doc/source/_static/images/determination_coefficient/table_1.png
  doc/source/_static/images/determination_coefficient/table_2.png
  doc/source/_static/images/determination_coefficient/table_3.png
  doc/source/_static/images/determination_coefficient/table_4.png
  doc/source/_static/images/determination_coefficient/table_5.png
  doc/source/_static/images/determination_coefficient/table_6.png
  doc/source/_static/images/determination_coefficient/third_formula.png
  doc/source/_static/images/progressive/progressive.png
  doc/source/index.rst
  doc/source/progressive.md
Labels: documentation 📚, size/L, hacktoberfest-accepted

#1293 Add emoji and fix file case
  doc/source/determination-coefficient.md
  doc/source/index.rst
Labels: size/XS

#1299 Fix LogoRama CSS link
  logorama/_includes/head.html
Labels: size/XS

#1300 Fix LogoRama logo
  logorama/index.html
Labels: size/XS

#1301 Fix rotating home page logo
  logorama/_includes/head.html
Labels: size/XS

#1302 Update vs-code-extension-every-developer-should-use.md
  doc/source/vs-code-extension-every-developer-should-use.md
Labels: size/XS

#1304 Negative Binomial Distribution file
  doc/source/_static/images/negative_binomial_distribution/analyzed_lady.jpg
  doc/source/_static/images/negative_binomial_distribution/call.jpg
  doc/source/_static/images/negative_binomial_distribution/circle.jpg
  doc/source/_static/images/negative_binomial_distribution/distribution.jpg
  doc/source/_static/images/negative_binomial_distribution/electronic_man.jpg
  doc/source/_static/images/negative_binomial_distribution/energy.jpg
  doc/source/_static/images/negative_binomial_distribution/energy1.jpg
  doc/source/_static/images/negative_binomial_distribution/energy2.jpg
  doc/source/_static/images/negative_binomial_distribution/energy3.jpg
  doc/source/_static/images/negative_binomial_distribution/energy4.jpg
  doc/source/_static/images/negative_binomial_distribution/formula_1.PNG
  doc/source/_static/images/negative_binomial_distribution/formula_10.PNG
  doc/source/_static/images/negative_binomial_distribution/formula_11.PNG
  doc/source/_static/images/negative_binomial_distribution/formula_12.PNG
  doc/source/_static/images/negative_binomial_distribution/formula_13.PNG
  doc/source/_static/images/negative_binomial_distribution/formula_14.PNG
  doc/source/_static/images/negative_binomial_distribution/formula_15.PNG
  doc/source/_static/images/negative_binomial_distribution/formula_16.PNG
  doc/source/_static/images/negative_binomial_distribution/formula_17.PNG
  doc/source/_static/images/negative_binomial_distribution/formula_18.PNG
  doc/source/_static/images/negative_binomial_distribution/formula_19.PNG
  doc/source/_static/images/negative_binomial_distribution/formula_2.PNG
  doc/source/_static/images/negative_binomial_distribution/formula_20.PNG
  doc/source/_static/images/negative_binomial_distribution/formula_21.PNG
  doc/source/_static/images/negative_binomial_distribution/formula_22.PNG
  doc/source/_static/images/negative_binomial_distribution/formula_23.PNG
  doc/source/_static/images/negative_binomial_distribution/formula_3.PNG
  doc/source/_static/images/negative_binomial_distribution/formula_4.PNG
  doc/source/_static/images/negative_binomial_distribution/formula_5.PNG
  doc/source/_static/images/negative_binomial_distribution/formula_6.PNG
  doc/source/_static/images/negative_binomial_distribution/formula_7.PNG
  doc/source/_static/images/negative_binomial_distribution/formula_8.PNG
  doc/source/_static/images/negative_binomial_distribution/formula_9.PNG
  doc/source/_static/images/negative_binomial_distribution/gun.jpg
  doc/source/_static/images/negative_binomial_distribution/old_lady.jpg
  doc/source/_static/images/negative_binomial_distribution/success.jpg
  doc/source/index.rst
  doc/source/negative_binomial_distribution.md
Labels: size/L

#1307 Denis D'or Document Added
  doc/source/_static/images/denis-dor/img.jpg
  doc/source/denis-dor.md
  doc/source/index.rst
Labels: size/M

#1312 Update negative_binomial_distribution.md
  doc/source/negative_binomial_distribution.md
Labels: size/XS

#1310 Poisson-Distribution
  doc/source/_static/images/poisson-distribution/bacteria.jpg
  doc/source/_static/images/poisson-distribution/bank-report.jpg
  doc/source/_static/images/poisson-distribution/bank2.jpg
  doc/source/_static/images/poisson-distribution/doctor.jpg
  doc/source/_static/images/poisson-distribution/dog.jpg
  doc/source/_static/images/poisson-distribution/fraud.jpg
  doc/source/_static/images/poisson-distribution/fraud2.jpg
  doc/source/_static/images/poisson-distribution/house.jpg
  doc/source/_static/images/poisson-distribution/stats.jpg
  doc/source/index.rst
  doc/source/poisson-distribution.md
Labels: size/L

#1318 Corrected spellings
  doc/source/big-beat.md
  doc/source/negative_binomial_distribution.md
Labels: size/S

#1315 add anderson_darling_test.md file
  doc/source/_static/images/anderson_darling_test/blood.jpg
  doc/source/_static/images/anderson_darling_test/car.jpg
  doc/source/_static/images/anderson_darling_test/class.jpg
  doc/source/_static/images/anderson_darling_test/distribution.jpg
  doc/source/_static/images/anderson_darling_test/distribution_2.jpg
  doc/source/_static/images/anderson_darling_test/distribution_3.jpg
  doc/source/_static/images/anderson_darling_test/formula_1.PNG
  doc/source/_static/images/anderson_darling_test/formula_10.PNG
  doc/source/_static/images/anderson_darling_test/formula_11.PNG
  doc/source/_static/images/anderson_darling_test/formula_12.PNG
  doc/source/_static/images/anderson_darling_test/formula_13.PNG
  doc/source/_static/images/anderson_darling_test/formula_2.PNG
  doc/source/_static/images/anderson_darling_test/formula_3.PNG
  doc/source/_static/images/anderson_darling_test/formula_4.PNG
  doc/source/_static/images/anderson_darling_test/formula_5.PNG
  doc/source/_static/images/anderson_darling_test/formula_6.PNG
  doc/source/_static/images/anderson_darling_test/formula_7.PNG
  doc/source/_static/images/anderson_darling_test/formula_8.PNG
  doc/source/_static/images/anderson_darling_test/formula_9.PNG
  doc/source/_static/images/anderson_darling_test/graph.jpg
  doc/source/_static/images/anderson_darling_test/graph_1.jpg
  doc/source/_static/images/anderson_darling_test/sales.jpg
  doc/source/_static/images/anderson_darling_test/table_1.PNG
  doc/source/_static/images/anderson_darling_test/table_10.PNG
  doc/source/_static/images/anderson_darling_test/table_2.PNG
  doc/source/_static/images/anderson_darling_test/table_3.jpg
  doc/source/_static/images/anderson_darling_test/table_4.PNG
  doc/source/_static/images/anderson_darling_test/table_5.PNG
  doc/source/_static/images/anderson_darling_test/table_6.PNG
  doc/source/_static/images/anderson_darling_test/table_7.PNG
  doc/source/_static/images/anderson_darling_test/table_8.PNG
  doc/source/_static/images/anderson_darling_test/table_9.PNG
  doc/source/anderson_darling_test.md
  doc/source/index.rst
Labels: size/L

#1333 adding types_of_probability_distributions file
  doc/source/_static/images/types_of_probability_distributions/box.jpg
  doc/source/_static/images/types_of_probability_distributions/car.jpg
  doc/source/_static/images/types_of_probability_distributions/eq_1.PNG
  doc/source/_static/images/types_of_probability_distributions/eq_2.PNG
  doc/source/_static/images/types_of_probability_distributions/eq_3.PNG
  doc/source/_static/images/types_of_probability_distributions/formula_1.PNG
  doc/source/_static/images/types_of_probability_distributions/formula_10.PNG
  doc/source/_static/images/types_of_probability_distributions/formula_11.PNG
  doc/source/_static/images/types_of_probability_distributions/formula_12.PNG
  doc/source/_static/images/types_of_probability_distributions/formula_13.PNG
  doc/source/_static/images/types_of_probability_distributions/formula_14.PNG
  doc/source/_static/images/types_of_probability_distributions/formula_15.PNG
  doc/source/_static/images/types_of_probability_distributions/formula_16.PNG
  doc/source/_static/images/types_of_probability_distributions/formula_17.PNG
  doc/source/_static/images/types_of_probability_distributions/formula_18.PNG
  doc/source/_static/images/types_of_probability_distributions/formula_19.PNG
  doc/source/_static/images/types_of_probability_distributions/formula_2.PNG
  doc/source/_static/images/types_of_probability_distributions/formula_20.PNG
  doc/source/_static/images/types_of_probability_distributions/formula_21.PNG
  doc/source/_static/images/types_of_probability_distributions/formula_22.PNG
  doc/source/_static/images/types_of_probability_distributions/formula_23.PNG
  doc/source/_static/images/types_of_probability_distributions/formula_24.PNG
  doc/source/_static/images/types_of_probability_distributions/formula_3.PNG
  doc/source/_static/images/types_of_probability_distributions/formula_4.PNG
  doc/source/_static/images/types_of_probability_distributions/formula_5.PNG
  doc/source/_static/images/types_of_probability_distributions/formula_6.PNG
  doc/source/_static/images/types_of_probability_distributions/formula_7.PNG
  doc/source/_static/images/types_of_probability_distributions/formula_8.PNG
  doc/source/_static/images/types_of_probability_distributions/formula_9.PNG
  doc/source/_static/images/types_of_probability_distributions/girls.jpg
  doc/source/_static/images/types_of_probability_distributions/graph_1.jpg
  doc/source/_static/images/types_of_probability_distributions/nerd.jpg
  doc/source/_static/images/types_of_probability_distributions/one-nerd.jpg
  doc/source/_static/images/types_of_probability_distributions/s_1.PNG
  doc/source/_static/images/types_of_probability_distributions/s_2.PNG
  doc/source/_static/images/types_of_probability_distributions/s_3.PNG
  doc/source/_static/images/types_of_probability_distributions/smoke.jpg
  doc/source/_static/images/types_of_probability_distributions/success.jpg
  doc/source/_static/images/types_of_probability_distributions/table_1.PNG
  doc/source/_static/images/types_of_probability_distributions/two-nerd.jpg
  doc/source/index.rst
  doc/source/types_of_probability_distributions.md
Labels: size/L

#1331 block-design added
  doc/source/_static/images/block_design/image1.jpeg
  doc/source/_static/images/block_design/image10.jpeg
  doc/source/_static/images/block_design/image11.png
  doc/source/_static/images/block_design/image12.png
  doc/source/_static/images/block_design/image13.png
  doc/source/_static/images/block_design/image14.png
  doc/source/_static/images/block_design/image2.jpeg
  doc/source/_static/images/block_design/image3.jpeg
  doc/source/_static/images/block_design/image4.png
  doc/source/_static/images/block_design/image5.png
  doc/source/_static/images/block_design/image6.jpeg
  doc/source/_static/images/block_design/image7.jpeg
  doc/source/_static/images/block_design/image8.jpeg
  doc/source/_static/images/block_design/image9.jpeg
  doc/source/block_design.md
  doc/source/index.rst
Labels: size/XL

#1338 Update electromechanical_piano.md fix image alt
  doc/source/electromechanical_piano.md
Labels: documentation 📚, size/XS

#1341 harriet_the_movie.md
  doc/source/harriet_the_movie.md
  doc/source/index.rst
Labels: size/M

#1355 Fixed Typo
  doc/source/types_of_probability_distributions.md
Labels: size/S

#1364 Sampling methods markdown
  doc/source/_static/images/sampling_methods/image1.jpg
  doc/source/_static/images/sampling_methods/image10.jpg
  doc/source/_static/images/sampling_methods/image2.jpg
  doc/source/_static/images/sampling_methods/image3.jpg
  doc/source/_static/images/sampling_methods/image4.jpg
  doc/source/_static/images/sampling_methods/image5.jpg
  doc/source/_static/images/sampling_methods/image6.jpg
  doc/source/_static/images/sampling_methods/image7.jpg
  doc/source/_static/images/sampling_methods/image8.jpg
  doc/source/_static/images/sampling_methods/image9.jpg
  doc/source/index.rst
  doc/source/sampling_methods.md
Labels: size/XL

#1368 Chess Section Conflict Resolved
  doc/source/_static/images/chess/check-mate.jpg
  doc/source/_static/images/chess/the-game.jpg
  doc/source/bobby-fischer.md
  doc/source/index.rst
Labels: size/M

#1374 Run pre-commit
  .github/workflows/lint.yml
  .pre-commit-config.yaml
  doc/source/anderson_darling_test.md
  doc/source/block_design.md
  doc/source/bobby-fischer.md
  doc/source/denis-dor.md
  doc/source/determination-coefficient.md
  doc/source/negative_binomial_distribution.md
  doc/source/speed-garage.md
  doc/source/types_of_probability_distributions.md
  docs/_includes/icon-github.svg
  docs/_includes/icon-twitter.svg
  docs/assets/minima-social-icons.svg
  logorama/_includes/icon-github.svg
  logorama/_includes/icon-twitter.svg
Labels: size/L, code style 💾

#1366 adding boris_spassky, jungle_drum_bass files
  doc/source/_static/images/boris_spassky/boris.jpg
  doc/source/_static/images/boris_spassky/player.jpg
  doc/source/_static/images/jungle_drum_bass/goldie.jpg
  doc/source/boris_spassky.md
  doc/source/index.rst
  doc/source/jungle_drum_bass.md
Labels: size/M

#1377 Remove unneeded whitespace
  doc/source/boris_spassky.md
Labels: size/XS, code style 💾

#1379 Update index.rst order the Persia menu
  doc/source/index.rst
Labels: size/XS

#1381 Update jungle_drum_bass.md remove whitespace
  doc/source/jungle_drum_bass.md
Labels: size/XS

#1382 Update index.rst strip whitespace
  doc/source/index.rst
Labels: size/XS

#1383 Use all lowercase filenames
  doc/source/_static/images/whiskey/image5.jpg
  doc/source/_static/images/whiskey/image6.jpg
  doc/source/boris_spassky.md
Labels: size/XS, code style 💾

#1384 Update `bobby-fischer.md` add the about the author section
  doc/source/bobby-fischer.md
Labels: size/XS

#1370 parametric-statistics markdown added.
  doc/source/_static/images/parametric_statistics/formula1.jpeg
  doc/source/_static/images/parametric_statistics/image1.jpeg
  doc/source/_static/images/parametric_statistics/image2.jpeg
  doc/source/_static/images/parametric_statistics/image3.jpeg
  doc/source/_static/images/parametric_statistics/image4.jpeg
  doc/source/_static/images/parametric_statistics/image5.jpeg
  doc/source/_static/images/parametric_statistics/image6.jpeg
  doc/source/_static/images/parametric_statistics/image7.jpeg
  doc/source/block_design.md
  doc/source/index.rst
  doc/source/parametric_statistics.md
  doc/source/sampling_methods.md
Labels: size/XL

#1345 Free Distribution Testing
  doc/source/_static/images/free-distribution-testing/chart1.jpg
  doc/source/_static/images/free-distribution-testing/chart2.jpg
  doc/source/_static/images/free-distribution-testing/chart3.jpg
  doc/source/_static/images/free-distribution-testing/chart5.jpg
  doc/source/_static/images/free-distribution-testing/chart6.jpg
  doc/source/_static/images/free-distribution-testing/median.jpg
  doc/source/_static/images/free-distribution-testing/room.jpg
  doc/source/_static/images/free-distribution-testing/worker.jpg
  doc/source/free-distribution-testing.md
  doc/source/index.rst
Labels: size/L

#1387 adding mikhail_tal & elo_rating files
  doc/source/_static/images/elo_rating/elo_rating_1.jpg
  doc/source/_static/images/elo_rating/elo_rating_2.jpg
  doc/source/_static/images/mikhail_tal/mikhail_tal_1.jpg
  doc/source/_static/images/mikhail_tal/mikhail_tal_2.png
  doc/source/elo_rating.md
  doc/source/index.rst
  doc/source/mikhail_tal.md
Labels: size/M

#1389 pre-commit fix
  Gemfile.lock
  doc/source/free-distribution-testing.md
  doc/source/parametric_statistics.md
Labels: size/S

#1398 Resolved Add Electro and Dubstep articles to the Sound section #1391
  doc/source/_static/images/sound/dubstep/dubstep.jpg
  doc/source/_static/images/sound/electro/drum-machine.jpg
  doc/source/dubstep.md
  doc/source/electro.md
  doc/source/index.rst
Labels: size/M

#1394 Telharmonium Document Added
  doc/source/_static/images/telharmonium/img_1.jpg
  doc/source/_static/images/telharmonium/img_2.jpg
  doc/source/index.rst
  doc/source/telharmonium.md
Labels: size/M
