Repository slurpcode/slurp, pull requests merged in 2022-11, with the labels that each got.

#1950 Fix math warning and comment out broken image links
  doc/source/60s.md
  doc/source/eclipse-cheatsheets-to-dita-to-pdf.md
  doc/source/probabilities.md
  doc/source/standard-deviation.md
  doc/source/statistical-estimation.md
  doc/source/trance.md
Labels: good first issue 🥇, documentation 📚, python 🖥️, markdown 📝, size/M, code style 💾, sphinx

#1957 Fix flake8 and pylint pre-commit checks
  .pre-commit-config.yaml
Labels: size/XS

#1958 Fix CODEOWNERS file
  CODEOWNERS
Labels: size/S

#1959 Fix CircleCI build step: remove percy
  .circleci/config.yml
Labels: testing 🧪, size/XS
