Repository slurpcode/slurp, pull requests merged in 2022-07, with the labels that each got.

#1765 Beijing
  doc/source/_static/images/beijing/image1.jpg
  doc/source/_static/images/beijing/image2.jpg
  doc/source/_static/images/beijing/image3.jpg
  doc/source/beijing.md
  doc/source/index.rst
Labels: size/L

#1771 Lint modified files only with Super Linter
  .github/workflows/super-linter.yml
Labels: size/XS

#1768 Madrid
  doc/source/_static/images/madrid/image1.jpg
  doc/source/_static/images/madrid/image2.jpg
  doc/source/_static/images/madrid/image3.jpg
  doc/source/index.rst
  doc/source/madrid.md
Labels: size/M

#1789 Update pre-commit. Add new flake8 config
  .circleci/config.yml
  .github/linters/.flake8
  .github/linters/.markdown-lint.yml
  .github/workflows/super-linter.yml
  .pre-commit-config.yaml
Labels: size/M

#1791 Emoji
  doc/source/washington.md
Labels: size/XS

#1790 Add PyCQA/bandit hook
  .pre-commit-config.yaml
Labels: size/XS

#1794 adding tanzania file
  doc/source/_static/images/tanzania/tanzania-1.jpg
  doc/source/_static/images/tanzania/tanzania-2.jpg
  doc/source/_static/images/tanzania/tanzania-3.jpg
  doc/source/_static/images/tanzania/tanzania-4.jpg
  doc/source/index.rst
  doc/source/tanzania.md
Labels: size/M

#1796 Fix go test Circle CI step
  .circleci/config.yml
Labels: testing 🧪, size/XS

#1799 Fix CircleCI well-formed step
  .circleci/config.yml
Labels: size/XS
