Repository slurpcode/slurp, pull requests merged in 2023-06, with the labels that each got.

#2112 Add codespell to the pre commit config #2109
  .codespellrc
Labels: testing 🧪, size/XS

#2252 Fix spelling
  assets/cheatsheets-xml-test-data/sensor/AnalysingSensorData.xml
  eclipse-cheatsheets-to-dita-to-pdf/output/dita/analysis_composite.dita
  eclipse-cheatsheets-to-dita-to-pdf/output/dita/intro_composite.dita
  eclipse-cheatsheets-to-dita-to-pdf/output/dita/satc_composite.dita
  ruby-eclipse-cheatsheets-to-dita/output/dita/analysis_composite.dita
  ruby-eclipse-cheatsheets-to-dita/output/dita/intro_composite.dita
  ruby-eclipse-cheatsheets-to-dita/output/dita/satc_composite.dita
Labels: size/S, assets, eclipse-cheatsheets, ruby-eclipse-cheatsheets

#2254 Update `.rubocop.yml`
  .rubocop.yml
Labels: ruby 💎, size/XS, code style 💾

#2255 Remove super-linter folder
  super-linter.report/.keep
Labels: size/XS

#2260 Fix Percy CI
  .github/workflows/percy.yml
Labels: size/XS, actions

#2261 Update percy.yml
  .github/workflows/percy.yml
  .percy.yml
Labels: size/S, actions

#2262 Wrangler workflow fix branch as main
  .github/workflows/wrangler-action.yml
Labels: size/XS, actions

#2268 Fix wrangler deploys (#2263)
  .github/workflows/wrangler-action.yml
  workers.dev/magic/wrangler.toml
  workers.dev/preston/wrangler.toml
Labels: size/S, actions, workers.dev

#2270 Fix wrangler deploys
  workers.dev/magic/wrangler.toml
  workers.dev/preston/wrangler.toml
Labels: size/XS, workers.dev

#2271 Fix wrangler deploy on upstream only not on forks
  .github/workflows/wrangler-action.yml
Labels: size/XS, actions

#2274 Fix easter eggs
  docs/assets/js/eggs.js
Labels: size/M, docs

#2171 parametric-methods-to-compare-two-means
  .github/workflows/lint.yml
  doc/source/_static/images/parametric-methods-to-compare-two-means/boys.jpg
  doc/source/_static/images/parametric-methods-to-compare-two-means/donations.jpg
  doc/source/_static/images/parametric-methods-to-compare-two-means/formula-1.jpg
  doc/source/_static/images/parametric-methods-to-compare-two-means/formula-10.jpg
  doc/source/_static/images/parametric-methods-to-compare-two-means/formula-11.jpg
  doc/source/_static/images/parametric-methods-to-compare-two-means/formula-12.jpg
  doc/source/_static/images/parametric-methods-to-compare-two-means/formula-13.jpg
  doc/source/_static/images/parametric-methods-to-compare-two-means/formula-14.jpg
  doc/source/_static/images/parametric-methods-to-compare-two-means/formula-15.jpg
  doc/source/_static/images/parametric-methods-to-compare-two-means/formula-16.jpg
  doc/source/_static/images/parametric-methods-to-compare-two-means/formula-17.jpg
  doc/source/_static/images/parametric-methods-to-compare-two-means/formula-18.jpg
  doc/source/_static/images/parametric-methods-to-compare-two-means/formula-19.jpg
  doc/source/_static/images/parametric-methods-to-compare-two-means/formula-2.jpg
  doc/source/_static/images/parametric-methods-to-compare-two-means/formula-20.jpg
  doc/source/_static/images/parametric-methods-to-compare-two-means/formula-21.jpg
  doc/source/_static/images/parametric-methods-to-compare-two-means/formula-3.jpg
  doc/source/_static/images/parametric-methods-to-compare-two-means/formula-4.jpg
  doc/source/_static/images/parametric-methods-to-compare-two-means/formula-5.jpg
  doc/source/_static/images/parametric-methods-to-compare-two-means/formula-6.jpg
  doc/source/_static/images/parametric-methods-to-compare-two-means/formula-7.jpg
  doc/source/_static/images/parametric-methods-to-compare-two-means/formula-8.jpg
  doc/source/_static/images/parametric-methods-to-compare-two-means/formula-9.jpg
  doc/source/_static/images/parametric-methods-to-compare-two-means/girls.jpg
  doc/source/_static/images/parametric-methods-to-compare-two-means/glass.jpg
  doc/source/_static/images/parametric-methods-to-compare-two-means/single-married.jpg
  doc/source/_static/images/parametric-methods-to-compare-two-means/table-1.jpg
  doc/source/_static/images/parametric-methods-to-compare-two-means/table-2.jpg
  doc/source/_static/images/parametric-methods-to-compare-two-means/table-3.jpg
  doc/source/_static/images/parametric-methods-to-compare-two-means/table-4.jpg
  doc/source/_static/images/parametric-methods-to-compare-two-means/table-5.jpg
  doc/source/index.rst
  doc/source/parametric-methods-to-compare-two-means.md
Labels: size/L, actions, doc

#2285 Update run.rb
  charts/run.rb
Labels: size/XS, charts
