Repository slurpcode/slurp, pull requests merged in 2023-04, with the labels that each got.

#2150 Format Markdown
  doc/source/denis-dor.md
  doc/source/discriminant-analysis.md
  doc/source/electro.md
Labels: size/S, code style 💾, doc

#2151 kurbelspharophon
  doc/source/_static/images/kurbelspharophon/kurbelspharophon.jpg
  doc/source/index.rst
  doc/source/kurbelspharophon.md
Labels: size/M, doc

#2147 Add another doc: The origin of cinema #2127
  codespell.txt
  doc/source/_static/images/the-origin-of-cinema/image1.jpg
  doc/source/_static/images/the-origin-of-cinema/image2.jpg
  doc/source/_static/images/the-origin-of-cinema/image3.jpg
  doc/source/index.rst
  doc/source/the-origin-of-cinema.md
Labels: size/M, repo, doc

#2142 Add another doc: Exponential Distribution
  doc/source/_static/images/exponential-distribution/arrival-of-a-patient.png
  doc/source/_static/images/exponential-distribution/bank-teller-window.png
  doc/source/_static/images/exponential-distribution/computer-video-card.png
  doc/source/_static/images/exponential-distribution/operating-room.png
  doc/source/exponential-distribution.md
  doc/source/index.rst
Labels: size/L, doc

#2153 Format Markdown - whitespace
  doc/source/kurbelspharophon.md
Labels: size/XS, doc

#2154 Add another doc law and order special victims unit #2125
  doc/source/_static/images/law-and-order-special-victims-unit/battered-wife.jpg
  doc/source/_static/images/law-and-order-special-victims-unit/law-and-order.jpg
  doc/source/index.rst
  doc/source/law-and-order-special-victims-unit.md
Labels: size/M, doc

#2156 Add Dockerfile for the Jekyll Fuchsia site
  .ruby-version
  Dockerfile
  Gemfile
  Gemfile.lock
  doc/source/getting-started.md
Labels: enhancement ⭐, ruby 💎, testing 🧪, size/M, repo, doc

#2116 Pr/2102
  .eslintrc.json
  .github/linters/.flake8
  .github/workflows/super-linter.yml
  .gitignore
  .pre-commit-config.yaml
  lint.js
  package-lock.json
  package.json
Labels: testing 🧪, size/M, repo, actions

#2176 Seek rb fix for windows #2141 fix
  .pre-commit-config.yaml
  seek/seek.rb
Labels: size/S, seek

#2191 add option to just print total number of jobs
  seek/seek.rb
Labels: size/M, seek

#2158 #2090 Fix App identity
  docs/assets/images/icons/manifest.json
Labels: size/XS, docs

#2170 testing golang linter fix
  .circleci/config.yml
  .github/workflows/super-linter.yml
  .pre-commit-config.yaml
  go.mod
  go.sum
  go.work
  go.work.sum
  macewindu/go.mod
  macewindu/go.sum
  macewindu/main.go
  pdfstar/go.mod
  pdfstar/go.sum
  pdfstar/main.go
  scrapers/go/colly/brainyquote/main.go
  scrapers/go/colly/codewars/main.go
  scrapers/go/colly/github/main.go
  scrapers/go/colly/github/main_test.go
  scrapers/go/colly/khan/main.go
  scrapers/go/colly/pycheckio/main.go
Labels: repo, size/XXL, circleci, actions, macewindu, pdfstar, scrapers

#2194 seek.rb modify seek scraper to directly get 'total jobs' for "just print total number of jobs" #2193
  seek/seek.rb
Labels: size/L, seek
