Repository slurpcode/slurp, pull requests merged in 2023-05, with the labels that each got.

#2167 Add another doc: Fractals
  doc/source/_static/images/fractal-ingles/carpet1.png
  doc/source/_static/images/fractal-ingles/carpet2.png
  doc/source/_static/images/fractal-ingles/carpet3.png
  doc/source/_static/images/fractal-ingles/coast-of-england.png
  doc/source/_static/images/fractal-ingles/coast-of-england1.png
  doc/source/_static/images/fractal-ingles/coastline.png
  doc/source/_static/images/fractal-ingles/dendrites.png
  doc/source/_static/images/fractal-ingles/flower.png
  doc/source/_static/images/fractal-ingles/geometric-constructions.png
  doc/source/_static/images/fractal-ingles/graph1.png
  doc/source/_static/images/fractal-ingles/graph2.png
  doc/source/_static/images/fractal-ingles/graph3.png
  doc/source/_static/images/fractal-ingles/kochs-snowflake.png
  doc/source/_static/images/fractal-ingles/lightning.png
  doc/source/_static/images/fractal-ingles/mandelbrot-set1.png
  doc/source/_static/images/fractal-ingles/mandelbrot-set2.png
  doc/source/_static/images/fractal-ingles/mandelbrot-set3.png
  doc/source/_static/images/fractal-ingles/mandelbrot-set4.png
  doc/source/_static/images/fractal-ingles/mandelbrot-set5.png
  doc/source/_static/images/fractal-ingles/mandelbrot-set6.png
  doc/source/_static/images/fractal-ingles/mandelbrot-set7.png
  doc/source/_static/images/fractal-ingles/mandelbrot-set8.png
  doc/source/_static/images/fractal-ingles/mandelbrot.png
  doc/source/_static/images/fractal-ingles/selfsimilarity.png
  doc/source/_static/images/fractal-ingles/sierpinski-triangle.png
  doc/source/_static/images/fractal-ingles/sierpinski-triangle1.png
  doc/source/_static/images/fractal-ingles/three-dimensional.png
  doc/source/fractal-ingles.md
  doc/source/index.rst
Labels: size/L, doc

#2233 Clean up CircleCI config
  .circleci/config.yml
Labels: size/XS, circleci

#2238 Fix spelling
  assets/cheatsheets-xml-test-data/GettingStarted/EditingYourData.xml
  assets/cheatsheets-xml-test-data/S2R/GroomingTracks.xml
  assets/cheatsheets-xml-test-data/analysis/SettingPrimaryAndSecondaryTracks.xml
  assets/cheatsheets-xml-test-data/satc/multi_legs.xml
  assets/cheatsheets-xml-test-data/satc/single_create.xml
Labels: size/S, assets
