Repository slurpcode/slurp, pull requests merged in 2023-09, with the labels that each got.

#2355 Update README.md
  README.md
Labels: size/XS, repo

#2372 Revert "Bump jekyll-avatar, activesupport, kramdown, jekyll-feed, jekyll-redirect-from, jekyll-sitemap, jemoji, github-pages, mdl, mechanize, minima and rubycritic"
  Gemfile.lock
Labels: repo, size/L

#2353 seek: add column to CSV output for job content
  .rubocop.yml
  Gemfile.lock
  seek/seek.rb
Labels: size/S, repo, seek

#2375 Update super-linter.yml
  .github/workflows/super-linter.yml
Labels: size/XS, actions

#2379 Adding amir upwork to eggs js
  docs/assets/js/eggs.js
  drivers/fuchsia.py
Labels: size/XS, docs, drivers

#2380 Add amir
  docs/assets/js/eggs.js
Labels: size/XS, docs

#2389 Fix seek raw CSV output format
  seek/seek.rb
Labels: ruby 💎, size/XS, seek
