Repository slurpcode/slurp, pull requests merged in 2023-11, with the labels that each got.

#2439 Fix CircleCI mdl lint errors
  doc/source/analysis-of-variance.md
  doc/source/continuous-probability-distribution.md
  doc/source/fide-grand-prix-2022.md
  doc/source/free-distribution-testing.md
  doc/source/kendalls-correlation-coefficient.md
  doc/source/point-estimation-methods.md
  doc/source/poisson-distribution.md
  doc/source/tests-to-see-if-the-data-meet-a-normal-distribution.md
Labels: size/M, code style 💾, doc

#2466 Update omar.md
  doc/source/omar.md
Labels: size/S, doc

#2477 Run: `go work use`
  go.work
Labels: size/S, repo

#2478 Fix mdl test. Remove extra blank line
  doc/source/omar.md
Labels: size/XS, doc

#2479 Go dep updates
  go.mod
  go.sum
  go.work
  macewindu/go.mod
  macewindu/go.sum
  pdfstar/go.mod
Labels: repo, size/L, macewindu, pdfstar
