Repository slurpcode/slurp, pull requests merged in 2023-10, with the labels that each got.

#2136 Add another doc: DESCRIPTIVE STATISTICS #2128
  doc/source/_static/images/descriptive_statistics/image_1.jpg
  doc/source/_static/images/descriptive_statistics/image_10.jpg
  doc/source/_static/images/descriptive_statistics/image_2.jpg
  doc/source/_static/images/descriptive_statistics/image_3.jpg
  doc/source/_static/images/descriptive_statistics/image_4.jpg
  doc/source/_static/images/descriptive_statistics/image_5.jpg
  doc/source/_static/images/descriptive_statistics/image_6.jpg
  doc/source/_static/images/descriptive_statistics/image_7.jpg
  doc/source/_static/images/descriptive_statistics/image_8.png
  doc/source/_static/images/descriptive_statistics/image_9.png
  doc/source/_static/images/descriptive_statistics/imagex.png
  doc/source/descriptive-statistics.md
Labels: size/L, doc

#2400 Update turkey.md
  doc/source/turkey.md
Labels: size/XS, doc

#2402 Fix Read the Docs build
  .readthedocs.yaml
  doc/requirements.txt
Labels: python 🖥️, yaml 📃, website 🦺, size/XS, sphinx, doc

#2422 Descriptive statistics
  doc/source/_static/images/descriptive_statistics/arithmetic-mean-numerical.png
  doc/source/_static/images/descriptive_statistics/arithmetic-mean-school-classroom.png
  doc/source/_static/images/descriptive_statistics/arithmetic-mean-without-x.png
  doc/source/_static/images/descriptive_statistics/arithmetic-mean.png
  doc/source/descriptive-statistics.md
  doc/source/index.rst
Labels: size/L, doc
