Repository slurpcode/slurp, pull requests merged in 2023-03, with the labels that each got.

#2043 Adding discord button #2021
  README.md
Labels: size/XS

#2044 Fix README link
  README.md
Labels: documentation 📚, size/XS

#2046 Fix fuchsia Ruby webdriver
  drivers/fuchsia.rb
Labels: size/XS

#2048 Add webdriver step
  drivers/fuchsia.rb
Labels: easter-egg 🥚, ruby 💎, size/XS

#2051 Add driver step
  drivers/fuchsia.rb
Labels: size/XS

#2054 Add Python webdriver
  .gitignore
  README.md
  doc/source/getting-started.md
  drivers/fuchsia.py
  requirements.txt
Labels: documentation 📚, dependencies 🦸, python 🖥️, size/S

#2057 Update docs
  .pre-commit-config.yaml
  doc/source/getting-started.md
Labels: size/M

#2058 Update getting started
  doc/source/getting-started.md
Labels: documentation 📚, size/S

#2059 docs: fix spelling and markdown
  .aspell.en.pws
  doc/source/analysis-of-variance.md
  doc/source/continuous-probability-distribution.md
  doc/source/database.md
  doc/source/dita-to-pdf-with-eclipse.md
Labels: documentation 📚, size/S

#2061 Fix Easter Eggs
  docs/assets/js/eggs.js
Labels: easter-egg 🥚, javascript ⌨️, size/M

#2064 Enable more languages with DeepSource
  .deepsource.toml
Labels: testing 🧪, toml 📜, size/S

#2065 Fix Rubocop issue
  .deepsource.toml
  drivers/fuchsia.rb
Labels: testing 🧪, size/XS

#2068 Edit GSU article
  doc/source/gsu.md
Labels: documentation 📚, size/M

#2072 Update config.yml
  .circleci/config.yml
Labels: testing 🧪, golang ⏩, size/XS

#2073 Update image description on gsu.md
  doc/source/gsu.md
Labels: documentation 📚, size/S

#2085 doc: fix build warnings
  doc/source/block-design.md
  doc/source/idm.md
  doc/source/sampling-methods.md
  doc/source/tests-to-see-if-the-data-meet-a-normal-distribution.md
  doc/source/trip-hop.md
Labels: size/XXL

#2086 doc: add missing images
  doc/source/_static/images/idm/aphex-twin.png
  doc/source/_static/images/trip-hop/massive-attack.png
  doc/source/idm.md
  doc/source/trip-hop.md
Labels: documentation 📚, python 🖥️, markdown 📝, size/S, sphinx

#2087 pre-commit autoupdate
  .pre-commit-config.yaml
Labels: testing 🧪, size/S

#2089 Fix broken images from manifest
  Gemfile
  Gemfile.lock
  docs/assets/images/icons/manifest.json
Labels: dependencies 🦸, website 🦺, size/S, jekyll 💃

#2091 Deepsource Go add import_root
  .deepsource.toml
Labels: testing 🧪, golang ⏩, size/XS

#2093 Fix CircleCI python build
  .circleci/config.yml
Labels: python 🖥️, testing 🧪, size/XS

#2094 Link checker: mark 429 as alive
  mlc_config.json
Labels: testing 🧪, size/XS

#1861 Update markdown-link-checker.yml
  .github/workflows/markdown-link-checker.yml
Labels: testing 🧪, size/XS, github_actions

#2099 Upgrade CircleCI to version 2.1 and use Shellcheck orb
  .circleci/config.yml
Labels: testing 🧪, size/XS

#2108 Update git.md
  doc/source/git.md
Labels: documentation 📚, python 🖥️, markdown 📝, size/M, sphinx

#2113 Remove Travis CI button from README
  README.md
Labels: documentation 📚, markdown 📝, size/XS

#2117 spider get actual stat count
  scrapers/python/scrapy/github/spider.py
Labels: python 🖥️, size/S

#2119 Jedi
  docs/assets/js/eggs.js
Labels: good first issue 🥇, javascript ⌨️, ruby 💎, website 🦺, size/XS, jekyll 💃

#2131 Revert "Merge pull request #2130 from slurpcode/renovate/ruby-3.x"
  .ruby-version
  Gemfile
  logorama/Gemfile
  pdfstar/Gemfile
Labels: ruby 💎, size/XS

#2121 Add labeler action for pull requests #911
  .github/labeler.yml
  .github/workflows/pull-request-labeler.yml
Labels: testing 🧪, size/L, github_actions

#2133 Fix README buttons
  README.md
Labels: size/XS, repo

#2134 Remove bold from heading / menu
  doc/source/sampling-methods.md
Labels: size/XS, doc

#2137 Fix README buttons
  .github/linters/.markdown-lint.yml
  README.md
Labels: size/XS, repo

#2138 Delete invite-contributors.yml
  .github/invite-contributors.yml
Labels: size/XS, actions

#2139 Update README.md
  README.md
Labels: size/XS, repo

#2140 Update seek.rb
  seek/seek.rb
Labels: ruby 💎, size/S, seek

#2143 seek add salary and update `.gitignore`
  .gitignore
  seek/jobs/github-and-php-and-python-daterange-14-worktype-all.csv
  seek/jobs/github-and-python-and-php-worktype-all.csv
  seek/seek.rb
Labels: ruby 💎, web scraping 🔪, size/S, seek

#2144 seek fix daterange
  seek/seek.rb
Labels: ruby 💎, size/XS, seek

#2148 Format Markdown
  doc/source/analysis-of-variance.md
  doc/source/anderson-darling-test.md
Labels: size/S, doc

#2149 Format Markdown
  doc/source/chess-and-mathematics.md
  doc/source/correlation.md
Labels: size/S, doc
