Repository slurpcode/slurp, pull requests merged in 2024-10, with the labels that each got.

#2785 added a lite option to remove content
  seek/seek.rb
Labels: size/M, hacktoberfest-accepted, hacktoberfest, seek

#2790 run `rubocop -A`
  seek/seek.rb
Labels: size/XS, seek

#2793 Update percy.yml - use ruby 3.3
  .github/workflows/percy.yml
Labels: ruby 💎, size/XS, actions

#2788 seek.rb add search on classification
  .github/workflows/weekly_run.yml
  .pre-commit-config.yaml
  .rubocop.yml
  seek/job_ind.json
  seek/new.rb
  seek/seek.rb
Labels: enhancement ⭐, ruby 💎, yaml 📃, web scraping 🔪, repo, size/XXL, hacktoberfest-accepted, github_actions, hacktoberfest, actions, seek

#2799 added lite version for salary
  seek/seek.rb
Labels: ruby 💎, web scraping 🔪, size/M, hacktoberfest-accepted, hacktoberfest, seek

#2811 bugfix: csvlint is failing in circleci workflow
  .circleci/config.yml
Labels: good first issue 🥇, testing 🧪, csv 💾, golang ⏩, yaml 📃, size/XS, hacktoberfest-accepted, hacktoberfest, circleci

#2804 Fix markdown link check
  README.md
  charts/README.md
  charts/config/built_with.csv
  charts/lang/README.de.md
  charts/site.yml
  doc/source/amman.md
  doc/source/ball-aerospace.md
  doc/source/beer.md
  doc/source/big-beat.md
  doc/source/dita-to-pdf-with-eclipse.md
  doc/source/dubstep.md
  doc/source/eclipse-cheatsheets-to-dita-to-pdf.md
  doc/source/goa.md
  doc/source/hardcore.md
  doc/source/house.md
  doc/source/idm.md
  doc/source/istanbul.md
  doc/source/jungle-drum-bass.md
  doc/source/links.md
  doc/source/nu-jazz.md
  doc/source/nu-skool-breaks.md
  doc/source/prescott.md
  doc/source/progressive.md
  doc/source/speed-garage.md
  doc/source/sql-file.md
  doc/source/techno.md
  doc/source/trance.md
  doc/source/trip-hop.md
  doc/source/xml.md
  mlc_config.json
  pdfstar/README.md
Labels: csv 💾, markdown 📝, repo, size/L, hacktoberfest-accepted, hacktoberfest, actions, charts, pdfstar, doc

#2806 Add restlyed workflow with GitHub Actions
  .github/workflows/restyled.yml
Labels: good first issue 🥇, testing 🧪, yaml 📃, size/M, code style 💾, bot, hacktoberfest-accepted, hacktoberfest, actions
